@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");
body {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #6A6972;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-image: url('../images/bg1.jpg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

* {
  margin: 0px;
  padding: 3px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.logout {
    max-width: 120px;
    max-height: 50px;
    margin-bottom: 0px;
  }

img {
  max-width: 12%;
  margin-right: 60px; 
  margin-left: 35px;
  margin-right: 50px;
}


a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  text-decoration: none; }

i,
span,
a {
  display: inline-block; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }


h2,
h3,
h4,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #ffffff;
  margin: 0px; }

h1 {
  padding-right: 3.1rem;
	font-size: 3.4rem;
	letter-spacing: 1.1rem;
	text-transform: uppercase; 
  font-family: 'Open Sans',sans-serif;
  font-weight: 700;
  color: #ffffff;
  margin-top: 50px;
  text-align: center;
}

h2 {
  font-size: 36px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; 
  color: #0f0f0f;
  text-align: center;
}

h6 {
  font-size: 16px; }

ul, ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none; }

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #6A6972;
  margin: 0px; }

.bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; }

/*===== All Slick Slide Outline Style =====*/
.slick-slide {
  outline: 0; }

/*===== All Button Style =====*/
.main-btn {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 25px;
  font-size: 16px;
  line-height: 48px;
  border-radius: 8px;
  border: 0;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  background: -webkit-linear-gradient(left, #33c8c1 0%, #119bd2 50%, #33c8c1 100%);
  background: -o-linear-gradient(left, #33c8c1 0%, #119bd2 50%, #33c8c1 100%);
  background: linear-gradient(to right, #33c8c1 0%, #119bd2 50%, #33c8c1 100%);
  background-size: 200%; }
  .main-btn:hover {
    color: #fff;
    background-position: right center; }

/*===== All SECTION TITLE Style =====*/
.section-title .line {
  background: -webkit-linear-gradient(#fe8464 0%, #fe6e9a 100%);
  background: -o-linear-gradient(#fe8464 0%, #fe6e9a 100%);
  background: linear-gradient(#fe8464 0%, #fe6e9a 100%);
  width: 150px;
  height: 5px;
  margin-bottom: 10px !important; }

.section-title .title {
  font-size: 38px;
  font-weight: 700;
  line-height: 42px; }
  @media (max-width: 767px) {
    .section-title .title {
      font-size: 20px; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .section-title .title {
      font-size: 30px; } }
  .section-title .title span {
    font-weight: 400;
    display: contents; }

/*===== All Section Title Style =====*/
.section-title .sub-title {
  font-size: 18px;
  font-weight: 400;
  color: #361CC1;
  text-transform: uppercase; }
  @media (max-width: 767px) {
    .section-title .sub-title {
      font-size: 16px; } }

.section-title .title {
  font-size: 32px;
  padding-top: 10px; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .section-title .title {
      font-size: 30px; } }
  @media (max-width: 767px) {
    .section-title .title {
      font-size: 24px; } }
  .section-title .title span {
    font-weight: 400;
    display: contents; }

/*===== All Slick Slide Outline Style =====*/
.slick-slide {
  outline: 0; }

/*===== All Preloader Style =====*/
.preloader {
  /* Body Overlay */
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
  /* Change Background Color */
  background: #fff;
  z-index: 99999; }
  .preloader .loader {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    .preloader .loader .ytp-spinner {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 64px;
      margin-left: -32px;
      z-index: 18;
      pointer-events: none; }
      .preloader .loader .ytp-spinner .ytp-spinner-container {
        pointer-events: none;
        position: absolute;
        width: 100%;
        padding-bottom: 100%;
        top: 50%;
        left: 50%;
        margin-top: -50%;
        margin-left: -50%;
        -webkit-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
        -moz-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
        -o-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
        animation: ytp-spinner-linspin 1568.23529647ms linear infinite; }
        .preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
          -moz-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
          -o-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
          animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }
          .preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator .ytp-spinner-left {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            overflow: hidden;
            right: 50%; }
          .preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator .ytp-spinner-right {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            left: 50%; }
    .preloader .loader .ytp-spinner-circle {
      box-sizing: border-box;
      position: absolute;
      width: 200%;
      height: 100%;
      border-style: solid;
      /* Spinner Color */
      border-color: #361CC1 #361CC1 #E1E1E1;
      border-radius: 50%;
      border-width: 6px; }
    .preloader .loader .ytp-spinner-left .ytp-spinner-circle {
      left: 0;
      right: -100%;
      border-right-color: #E1E1E1;
      -webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
      -moz-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
      -o-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
      animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }
    .preloader .loader .ytp-spinner-right .ytp-spinner-circle {
      left: -100%;
      right: 0;
      border-left-color: #E1E1E1;
      -webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
      -moz-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
      -o-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
      animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }

/* Preloader Animations */
@-webkit-keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); }
  25% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg); }
  37.5% {
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg); }
  50% {
    -webkit-transform: rotate(540deg);
    -moz-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    -o-transform: rotate(540deg);
    transform: rotate(540deg); }
  62.5% {
    -webkit-transform: rotate(675deg);
    -moz-transform: rotate(675deg);
    -ms-transform: rotate(675deg);
    -o-transform: rotate(675deg);
    transform: rotate(675deg); }
  75% {
    -webkit-transform: rotate(810deg);
    -moz-transform: rotate(810deg);
    -ms-transform: rotate(810deg);
    -o-transform: rotate(810deg);
    transform: rotate(810deg); }
  87.5% {
    -webkit-transform: rotate(945deg);
    -moz-transform: rotate(945deg);
    -ms-transform: rotate(945deg);
    -o-transform: rotate(945deg);
    transform: rotate(945deg); }
  to {
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg); } }

@keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); }
  25% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg); }
  37.5% {
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg); }
  50% {
    -webkit-transform: rotate(540deg);
    -moz-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    -o-transform: rotate(540deg);
    transform: rotate(540deg); }
  62.5% {
    -webkit-transform: rotate(675deg);
    -moz-transform: rotate(675deg);
    -ms-transform: rotate(675deg);
    -o-transform: rotate(675deg);
    transform: rotate(675deg); }
  75% {
    -webkit-transform: rotate(810deg);
    -moz-transform: rotate(810deg);
    -ms-transform: rotate(810deg);
    -o-transform: rotate(810deg);
    transform: rotate(810deg); }
  87.5% {
    -webkit-transform: rotate(945deg);
    -moz-transform: rotate(945deg);
    -ms-transform: rotate(945deg);
    -o-transform: rotate(945deg);
    transform: rotate(945deg); }
  to {
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg); } }

@-webkit-keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg); }
  50% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  to {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg); } }

@keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg); }
  50% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  to {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg); } }

@-webkit-keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg); }
  50% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg); }
  to {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg); } }

@keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg); }
  50% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg); }
  to {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg); } }

/*===========================
      02.HEADER css 
===========================*/
/*===== NAVBAR =====*/
.navbar-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }

.sticky {
  position: fixed;
  z-index: 99;
  background-color: #fff;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }
  .sticky .navbar {
    padding: 10px 0; }

.navbar {
  padding: 25px 0;
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }

.navbar-brand {
  padding: 0; }

.navbar-toggler {
  padding: 0; }
  .navbar-toggler .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 5px 0;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
  .navbar-toggler.active .toggler-icon:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px; }
  .navbar-toggler.active .toggler-icon:nth-of-type(2) {
    opacity: 0; }
  .navbar-toggler.active .toggler-icon:nth-of-type(3) {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    top: -7px; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 5px 12px; } }

@media (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 5px 12px; } }

.navbar-nav .nav-item {
  margin-right: 45px;
  position: relative; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar-nav .nav-item {
      margin-right: 30px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item {
      margin: 0; } }
  @media (max-width: 767px) {
    .navbar-nav .nav-item {
      margin: 0; } }
  .navbar-nav .nav-item a {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    padding: 10px 0;
    position: relative;
    font-family: "Poppins", sans-serif; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .navbar-nav .nav-item a {
        display: block;
        padding: 4px 0;
        color: #2E2E2E; } }
    @media (max-width: 767px) {
      .navbar-nav .nav-item a {
        display: block;
        padding: 4px 0;
        color: #2E2E2E; } }
  .navbar-nav .nav-item:hover .sub-menu {
    top: 100%;
    opacity: 1;
    visibility: visible; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .navbar-nav .nav-item:hover .sub-menu {
        top: 0; } }
    @media (max-width: 767px) {
      .navbar-nav .nav-item:hover .sub-menu {
        top: 0; } }
  .navbar-nav .nav-item .sub-menu {
    width: 200px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 110%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .navbar-nav .nav-item .sub-menu {
        position: relative;
        width: 100%;
        top: 0;
        display: none;
        opacity: 1;
        visibility: visible; } }
    @media (max-width: 767px) {
      .navbar-nav .nav-item .sub-menu {
        position: relative;
        width: 100%;
        top: 0;
        display: none;
        opacity: 1;
        visibility: visible; } }
    .navbar-nav .nav-item .sub-menu li {
      display: block; }
      .navbar-nav .nav-item .sub-menu li a {
        display: block;
        padding: 8px 20px;
        color: #2E2E2E; }
        .navbar-nav .nav-item .sub-menu li a.active, .navbar-nav .nav-item .sub-menu li a:hover {
          padding-left: 25px;
          color: #361CC1; }

.navbar-nav .sub-nav-toggler {
  display: none; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .sub-nav-toggler {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      background: none;
      color: #2E2E2E;
      font-size: 18px;
      border: 0;
      width: 30px;
      height: 30px; } }
  @media (max-width: 767px) {
    .navbar-nav .sub-nav-toggler {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      background: none;
      color: #2E2E2E;
      font-size: 18px;
      border: 0;
      width: 30px;
      height: 30px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-btn {
    position: absolute;
    top: 50%;
    right: 50px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); } }

@media (max-width: 767px) {
  .navbar-btn {
    position: absolute;
    top: 50%;
    right: 50px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); } }

.navbar-btn .main-btn {
  height: 90px;
  width: 350px;
  line-height: 90px;
  background: -webkit-linear-gradient(left, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
  background: -o-linear-gradient(left, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
  background: linear-gradient(to right, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
  background-size: 200%; }
  .navbar-btn .main-btn:hover {
    color: #fff;
    background-position: right center; }

.sticky .navbar-toggler .toggler-icon {
  background-color: #2E2E2E; }

.sticky .navbar-nav .nav-item a {
  color: #2E2E2E; }

.sticky .navbar-nav .nav-item.active > a, .sticky .navbar-nav .nav-item:hover > a {
  color: #361CC1; }

/*===== HEADER HERO =====*/
.header-hero {
  position: relative;
  z-index: 5;
  background-position: bottom center; }

#particles-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }

.header-hero-content {
  padding-top: 180px; }
  @media (max-width: 767px) {
    .header-hero-content {
      padding-top: 100px; } }
  .header-hero-content .header-sub-title {
    font-size: 38px;
    font-weight: 300;
    color: #fff; }
    @media (max-width: 767px) {
      .header-hero-content .header-sub-title {
        font-size: 24px; } }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      .header-hero-content .header-sub-title {
        font-size: 30px; } }
  .header-hero-content .header-title {
    font-size: 38px;
    font-weight: 700;
    color: #fff; }
    @media (max-width: 767px) {
      .header-hero-content .header-title {
        font-size: 24px; } }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      .header-hero-content .header-title {
        font-size: 30px; } }
  .header-hero-content .text {
    color: #fff;
    margin-top: 30px; }
  .header-hero-content .main-btn {
    margin-top: 40px; }

.header-hero-image {
  padding-top: 45px; }
  .header-hero-image img {
    max-width: 650px; }
    @media (max-width: 767px) {
      .header-hero-image img {
        max-width: 100%; } }
  @media (max-width: 767px) {
    .header-hero-image {
      padding-top: 30px; } }

/*===========================
      03.BRAND css 
===========================*/
@media (max-width: 767px) {
  .brand-logo {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }

.single-logo {
  padding: 0 30px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-logo {
      padding: 0 15px; } }
  @media (max-width: 767px) {
    .single-logo {
      padding: 0 15px; } }
  @media (max-width: 767px) {
    .single-logo {
      width: 50%; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .single-logo {
      width: 33.33%; } }
  .single-logo img {
    width: 100%;
    opacity: 0.5;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
  .single-logo:hover img {
    opacity: 1; }


/*===========================
    06.VIDEO COUNTER css 
===========================*/
.video-content {
  position: relative;
  padding-bottom: 30px; }
  .video-content .dots {
    position: absolute;
    left: -30px;
    bottom: 0; }

.video-wrapper {
  margin-right: 15px;
  position: relative;
  -webkit-box-shadow: 0px 13px 46px 0px rgba(113, 113, 113, 0.33);
  -moz-box-shadow: 0px 13px 46px 0px rgba(113, 113, 113, 0.33);
  box-shadow: 0px 13px 46px 0px rgba(113, 113, 113, 0.33);
  border-radius: 10px;
  overflow: hidden; }
  @media (max-width: 767px) {
    .video-wrapper {
      margin-right: 0; } }
  .video-wrapper .video-image img {
    width: 100%; }
  .video-wrapper .video-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(54, 28, 193, 0.2) 0%, rgba(46, 130, 239, 0.2) 100%);
    background: -o-linear-gradient(left, rgba(54, 28, 193, 0.2) 0%, rgba(46, 130, 239, 0.2) 100%);
    background: linear-gradient(to right, rgba(54, 28, 193, 0.2) 0%, rgba(46, 130, 239, 0.2) 100%); }
    .video-wrapper .video-icon a {
      width: 55px;
      height: 55px;
      line-height: 55px;
      text-align: center;
      border-radius: 50%;
      background-color: #fff;
      color: #FE8464;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

#particles-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }


.footer-copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 15px;
  padding-bottom: 30px;
  text-align: center; }

.copyright-content {
  padding-top: 15px;
  text-align: center; }
  .copyright-content p {
    color: #fff; }
  .copyright-content a {
    font-size: 16px;
    color: #fff;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
    .copyright-content a:hover {
      color: #FE8464; }

/*===== BACK TO TOP =====*/
.back-to-top {
  font-size: 20px;
  color: #fff;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, #361cc1 0%, #2e82ef 100%);
  background: -o-linear-gradient(left, #361cc1 0%, #2e82ef 100%);
  background: linear-gradient(to right, #361cc1 0%, #2e82ef 100%);
  text-align: center;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  display: none; }
  .back-to-top:hover {
    color: #fff; }
.flex {
margin:20px;
display: flex;
margin-left: 5px;
margin-top: 5px;
margin-bottom: 5px;
}
.flexbox {
  margin-bottom:3px;
  display: flex;
}
.loading {
  color:red;
}
.header {
  padding: 3px;
  border: 1px solid #eef0ee;
  border-radius: 12px;
}

/* h1::first-letter {
  color: white;
  background-color: black;
  border-radius: 2px;
  box-shadow: 3px 3px 0 red;
  font-size: 100%;
  padding: 6px 3px;
  margin-right: 6px;
}

b::first-letter {
  color: white;
  background-color: black;
  border-radius: 2px;
  box-shadow: 3px 3px 0 red;
  font-size: 100%;
  padding: 6px 3px;
  margin-right: 6px;
} */


/* day 01 */

.nav-link:hover {
  background-color: #525252 !important
}

.nav-link .fa {
  transition: all 1s
}

.nav-link:hover .fa {
  transform: rotate(360deg)
}
.days {
margin-left: 5px;
max-width: 99%;
height: auto;
}
.days_1 {
  margin-left: 5px;
  max-width: 100%;
  height: auto;
  }
#d2hint {
 font-size: 15px;
 color:#e01f11;
}
#d2hint2 {
  font-size: 15px;
  color:#e01f11;
  display: flex;
 }
 #d2hint3 {
  font-size: 15px;
  color:#e01f11;
  display: flex;
 }
 #d2hint4 {
  font-size: 15px;
  color:#e01f11;
  display: flex;
 }
 #d2hint5 {
  font-size: 15px;
  color:#e01f11;
 }
 #d2hint6 {
  font-size: 15px;
  color:#e01f11;
  display: flex;
 }
 #d2hint7 {
  font-size: 15px;
  color:#e01f11;
  display: flex;
 }
 #d2hint8 {
  font-size: 15px;
  color:#e01f11;
 }
 #d2hint9 {
  font-size: 15px;
  color:#e01f11;
  display: flex;
 }
 #d2hint10 {
  font-size: 15px;
  color:#e01f11;
  display: flex;
 }
 #d2hint11 {
  font-size: 15px;
  color:#e01f11;
  display: flex;
 }
 #d2hint12 {
  font-size: 15px;
  color:#e01f11;
  display: flex;
 }
 #d2hint13 {
  font-size: 15px;
  color:#e01f11;
  display: flex;
 }
 #d2hint14 {
  font-size: 15px;
  color:#e01f11;
  display: flex;
 }
 #d2hint15 {
  font-size: 15px;
  color:#e01f11;
  display: flex;
 }
#hintimg {
  max-width: 4%;
  margin-right: 5px; 
  margin-left: 1px;
}
#tickimga {
  max-width: 3%;
  margin-right: 5px; 
  margin-left: 1px;
}
#tickimgb {
  max-width: 3%;
  margin-right: 5px; 
  margin-left: 1px;
}
#tickimgc {
  max-width: 3%;
  margin-right: 5px; 
  margin-left: 1px;
}
#alertimg {
  max-width: 8%;
  margin-right: 5px; 
  margin-left: 1px;
}
#d2next {
  margin-right: 20px;
}
#d2next:disabled {
  cursor:not-allowed;
}
#d2next2 {
  margin-right: 20px;
}
#d2next2:disabled {
  cursor:not-allowed;
}
#d2next3 {
  margin-right: 20px;
}
#d2next3:disabled {
  cursor:not-allowed;
}
#d2next4 {
  margin-right: 20px;
}
#d2next4:disabled {
  cursor:not-allowed;
}
#d2next5 {
  margin-right: 20px;
}
#d2next5:disabled {
  cursor:not-allowed;
}
#d2next56 {
  margin-right: 20px;
}
#d2next6:disabled {
  cursor:not-allowed;
}
#d2next7 {
  margin-right: 20px;
}
#d2next7:disabled {
  cursor:not-allowed;
}
#d2next8 {
  margin-right: 20px;
}
#d2next8:disabled {
  cursor:not-allowed;
}
#d2next9 {
  margin-right: 20px;
}
#d2next9:disabled {
  cursor:not-allowed;
}
#d2next10 {
  margin-right: 20px;
}
#d2next10:disabled {
  cursor:not-allowed;
}
#d2next11 {
  margin-right: 20px;
}
#d2next11:disabled {
  cursor:not-allowed;
}
#d2next12 {
  margin-right: 20px;
}
#d2next12:disabled {
  cursor:not-allowed;
}
#d2next13 {
  margin-right: 20px;
}
#d2next13:disabled {
  cursor:not-allowed;
}
#d2next14 {
  margin-right: 20px;
}
#d2next14:disabled {
  cursor:not-allowed;
}
#d2next15 {
  margin-right: 20px;
}
#d2next15:disabled {
  cursor:not-allowed;
}
#d2next16 {
  margin-right: 20px;
}
#d2next16:disabled {
  cursor:not-allowed;
}
#d2next17 {
  margin-right: 20px;
}
#d2next17:disabled {
  cursor:not-allowed;
}
#day2 {
  position: relative;
  cursor: pointer;
    }

.playpause {
  background-image:url(../images/playbutton.png);
  background-repeat:no-repeat;
  width:30%;
  height:30%;
  position:absolute;
  left:0%;
  right:0%;
  top:0%;
  bottom:0%;
  margin:auto;
  background-size:contain;
  background-position: center;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.playpause:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5); 
}

  /* day03 */

#d2doubtimg {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d2doubtimg2 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d2doubtimg3 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d2doubtimg4 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d2doubtimg5 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d2doubtimg6 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d2doubtimg7 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d2doubtimg8 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d2doubtimg9 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d2doubtimg10 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d2doubtimg11 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d2doubtimg12 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d2doubtimg13 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d2doubtimg14 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d2doubtimg15 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d2doubtimg16 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}

  /* day03 */

#d3doubtimg {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d3doubtimg2 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d3doubtimg3 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d3doubtimg4 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d3doubtimg5 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d3doubtimg6 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d3doubtimg7 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d3doubtimg8 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d3doubtimg9 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d3doubtimg10 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d3doubtimg11 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d3doubtimg12 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d3doubtimg13 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d3doubtimg14 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d3doubtimg15 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d3doubtimg16 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}

#d3hint {
  font-size: 15px;
  color:#e01f11;
 }
 #d3hint2 {
   font-size: 15px;
   color:#e01f11;
   display: flex;
  }
  #d3hint3 {
   font-size: 15px;
   color:#e01f11;
   display: flex;
  }
  #d3hint4 {
   font-size: 15px;
   color:#e01f11;
   display: flex;
  }
  #d3hint5 {
   font-size: 15px;
   color:#e01f11;
  }
  #d3hint6 {
   font-size: 15px;
   color:#e01f11;
   display: flex;
  }
  #d3hint7 {
   font-size: 15px;
   color:#e01f11;
   display: flex;
  }
  #d3hint8 {
   font-size: 15px;
   color:#e01f11;
  }
  #d3hint9 {
   font-size: 15px;
   color:#e01f11;
   display: flex;
  }
  #d3hint10 {
   font-size: 15px;
   color:#e01f11;
   display: flex;
  }
  #d3hint11 {
   font-size: 15px;
   color:#e01f11;
   display: flex;
  }
  #d3hint12 {
   font-size: 15px;
   color:#e01f11;
   display: flex;
  }
  #d3hint13 {
   font-size: 15px;
   color:#e01f11;
   display: flex;
  }
  #d3hint14 {
   font-size: 15px;
   color:#e01f11;
   display: flex;
  }
  #d3hint15 {
   font-size: 15px;
   color:#e01f11;
   display: flex;
  }

  /* day04 */

  #d4doubtimg {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d4doubtimg2 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d4doubtimg3 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d4doubtimg4 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d4doubtimg5 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d4doubtimg6 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d4doubtimg7 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d4doubtimg8 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d4doubtimg9 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d4doubtimg10 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d4doubtimg11 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d4doubtimg12 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d4doubtimg13 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d4doubtimg14 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d4doubtimg15 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d4doubtimg16 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }

  #d4hinta {
    font-size: 15px;
    color:#e01f11;
   }
   #d4hintb {
    font-size: 15px;
    color:#29e638;
   }
   #d4hintc {
    font-size: 15px;
    color:#3023e2;
   }
   #d4hint2a {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d4hint2b {
      font-size: 15px;
      color:#e01f11;
      display: flex;
     }
     #d4hint2c {
      font-size: 15px;
      color:#e01f11;
      display: flex;
     }
    #d4hint3a {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d4hint3b {
      font-size: 15px;
      color:#e01f11;
      display: flex;
     }
     #d4hint3c {
      font-size: 15px;
      color:#e01f11;
      display: flex;
     }
    #d4hint4a {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d4hint4b {
      font-size: 15px;
      color:#e01f11;
      display: flex;
     }
     #d4hint4c {
      font-size: 15px;
      color:#e01f11;
      display: flex;
     }
    #d4hint5a {
     font-size: 15px;
     color:#e01f11;
    }
    #d4hint5b {
      font-size: 15px;
      color:#e01f11;
     }
     #d4hint5c {
      font-size: 15px;
      color:#e01f11;
     }
    #d4hint6 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d4hint6a {
      font-size: 15px;
      color:#e01f11;
      display: flex;
     }
     #d4hint6b {
      font-size: 15px;
      color:#e01f11;
      display: flex;
     }
     #d4hint6c {
      font-size: 15px;
      color:#e01f11;
      display: flex;
     }
    #d4hint7a {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d4hint7b {
      font-size: 15px;
      color:#e01f11;
      display: flex;
     }
     #d4hint7c {
      font-size: 15px;
      color:#e01f11;
      display: flex;
     }
    #d4hint8a {
     font-size: 15px;
     color:#e01f11;
    }
    #d4hint8b {
      font-size: 15px;
      color:#e01f11;
     }
     #d4hint8c {
      font-size: 15px;
      color:#e01f11;
     }
    #d4hint9a {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d4hint9b {
      font-size: 15px;
      color:#e01f11;
      display: flex;
     }
     #d4hint9c {
      font-size: 15px;
      color:#e01f11;
      display: flex;
     }
    #d4hint10a {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d4hint10b {
      font-size: 15px;
      color:#e01f11;
      display: flex;
     }
     #d4hint10c {
      font-size: 15px;
      color:#e01f11;
      display: flex;
     }
    #d4hint11a {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d4hint11b {
      font-size: 15px;
      color:#1bec6b;
      display: flex;
     }
     #d4hint11c {
      font-size: 15px;
      color:#5247e9;
      display: flex;
     }
    #d4hint12a {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d4hint12b {
      font-size: 15px;
      color:#e01f11;
      display: flex;
     }
     #d4hint12c {
      font-size: 15px;
      color:#e01f11;
      display: flex;
     }
    #d4hint13a {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d4hint13b {
      font-size: 15px;
      color:#e01f11;
      display: flex;
     }
     #d4hint13c {
      font-size: 15px;
      color:#e01f11;
      display: flex;
     }
    #d4hint14a {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d4hint14b {
      font-size: 15px;
      color:#e01f11;
      display: flex;
     }
     #d4hint14c {
      font-size: 15px;
      color:#e01f11;
      display: flex;
     }
    #d4hint15a {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d4hint15b {
      font-size: 15px;
      color:#e01f11;
      display: flex;
     }
     #d4hint15c {
      font-size: 15px;
      color:#e01f11;
      display: flex;
     }

    /* day05 */

  #d5doubtimg {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d5doubtimg2 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d5doubtimg3 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d5doubtimg4 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d5doubtimg5 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d5doubtimg6 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d5doubtimg7 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d5doubtimg8 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d5doubtimg9 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d5doubtimg10 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d5doubtimg11 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d5doubtimg12 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d5doubtimg13 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d5doubtimg14 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d5doubtimg15 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d5doubtimg16 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }

  #d5hint {
    font-size: 15px;
    color:#e01f11;
   }
   #d5hint2 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d5hint3 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d5hint4 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d5hint5 {
     font-size: 15px;
     color:#e01f11;
    }
    #d5hint6 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d5hint7 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d5hint8 {
     font-size: 15px;
     color:#e01f11;
    }
    #d5hint9 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d5hint10 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d5hint11 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d5hint12 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d5hint13 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d5hint14 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d5hint15 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }

    /* day06 */

  #d6doubtimg {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d6doubtimg2 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d6doubtimg3 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d6doubtimg4 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d6doubtimg5 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d6doubtimg6 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d6doubtimg7 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d6doubtimg8 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d6doubtimg9 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d6doubtimg10 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d6doubtimg11 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d6doubtimg12 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d6doubtimg13 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d6doubtimg14 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d6doubtimg15 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d6doubtimg16 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }

  #d6hint {
    font-size: 15px;
    color:#e01f11;
   }
   #d6hint2 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d6hint3 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d6hint4 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d6hint5 {
     font-size: 15px;
     color:#e01f11;
    }
    #d6hint6 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d6hint7 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d6hint8 {
     font-size: 15px;
     color:#e01f11;
    }
    #d6hint9 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d6hint10 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d6hint11 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d6hint12 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d6hint13 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d6hint14 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d6hint15 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }

    /* day07 */

  #d7doubtimg {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d7doubtimg2 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d7doubtimg3 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d7doubtimg4 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d7doubtimg5 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d7doubtimg6 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d7doubtimg7 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d7doubtimg8 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d7doubtimg9 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d7doubtimg10 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d7doubtimg11 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d7doubtimg12 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d7doubtimg13 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d7doubtimg14 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d7doubtimg15 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d7doubtimg16 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }

  #d7hint {
    font-size: 15px;
    color:#e01f11;
   }
   #d7hint2 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d7hint3 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d7hint4 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d7hint5 {
     font-size: 15px;
     color:#e01f11;
    }
    #d7hint6 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d7hint7 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d7hint8 {
     font-size: 15px;
     color:#e01f11;
    }
    #d7hint9 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d7hint10 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d7hint11 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d7hint12 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d7hint13 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d7hint14 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d7hint15 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }

    /* day08 */

  #d8doubtimg {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d8doubtimg2 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d8doubtimg3 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d8doubtimg4 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d8doubtimg5 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d8doubtimg6 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d8doubtimg7 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d8doubtimg8 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d8doubtimg9 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d8doubtimg10 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d8doubtimg11 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d8doubtimg12 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d8doubtimg13 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d8doubtimg14 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d8doubtimg15 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d8doubtimg16 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }

  #d8hint {
    font-size: 15px;
    color:#e01f11;
   }
   #d8hint2 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d8hint3 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d8hint4 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d8hint5 {
     font-size: 15px;
     color:#e01f11;
    }
    #d8hint6 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d8hint7 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d8hint8 {
     font-size: 15px;
     color:#e01f11;
    }
    #d8hint9 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d8hint10 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d8hint11 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d8hint12 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d8hint13 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d8hint14 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d8hint15 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
/* day09 */

#d9doubtimg {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d9doubtimg2 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d9doubtimg3 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d9doubtimg4 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d9doubtimg5 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d9doubtimg6 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d9doubtimg7 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d9doubtimg8 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d9doubtimg9 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d9doubtimg10 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d9doubtimg11 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d9doubtimg12 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d9doubtimg13 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d9doubtimg14 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d9doubtimg15 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}
#d9doubtimg16 {
  max-width: 30%;
  margin-right: 0%;
  margin-left: 60%;
}

#d9hint {
  font-size: 15px;
  color:#e01f11;
 }
 #d9hint2 {
   font-size: 15px;
   color:#e01f11;
   display: flex;
  }
  #d9hint3 {
   font-size: 15px;
   color:#e01f11;
   display: flex;
  }
  #d9hint4 {
   font-size: 15px;
   color:#e01f11;
   display: flex;
  }
  #d9hint5 {
   font-size: 15px;
   color:#e01f11;
  }
  #d9hint6 {
   font-size: 15px;
   color:#e01f11;
   display: flex;
  }
  #d9hint7 {
   font-size: 15px;
   color:#e01f11;
   display: flex;
  }
  #d9hint8 {
   font-size: 15px;
   color:#e01f11;
  }
  #d9hint9 {
   font-size: 15px;
   color:#e01f11;
   display: flex;
  }
  #d9hint10 {
   font-size: 15px;
   color:#e01f11;
   display: flex;
  }
  #d9hint11 {
   font-size: 15px;
   color:#e01f11;
   display: flex;
  }
  #d9hint12 {
   font-size: 15px;
   color:#e01f11;
   display: flex;
  }
  #d9hint13 {
   font-size: 15px;
   color:#e01f11;
   display: flex;
  }
  #d9hint14 {
   font-size: 15px;
   color:#e01f11;
   display: flex;
  }
  #d9hint15 {
   font-size: 15px;
   color:#e01f11;
   display: flex;
  }

  /* day10 */

  #d10doubtimg {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d10doubtimg2 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d10doubtimg3 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d10doubtimg4 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d10doubtimg5 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d10doubtimg6 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d10doubtimg7 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d10doubtimg8 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d10doubtimg9 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d10doubtimg10 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d10doubtimg11 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d10doubtimg12 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d10doubtimg13 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d10doubtimg14 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d10doubtimg15 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }
  #d10doubtimg16 {
    max-width: 30%;
    margin-right: 0%;
    margin-left: 60%;
  }

  #d10hint {
    font-size: 15px;
    color:#e01f11;
   }
   #d10hint2 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d10hint3 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d10hint4 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d10hint5 {
     font-size: 15px;
     color:#e01f11;
    }
    #d10hint6 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d10hint7 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d10hint8 {
     font-size: 15px;
     color:#e01f11;
    }
    #d10hint9 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d10hint10 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d10hint11 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d10hint12 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d10hint13 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d10hint14 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }
    #d10hint15 {
     font-size: 15px;
     color:#e01f11;
     display: flex;
    }


    #magnifyh{
      font-size: xx-large;
      position:absolute;
      left:0%;
      right:0%;
      top:20%;
      bottom:0%;
      margin:auto;
      background-size:contain;
      background-position: center;
      text-align: center;
      color: #ffffff;
      cursor: pointer;
      -webkit-text-stroke: 1px black;
    }
    #magnifyr{
      font-size: xx-large;
      position:absolute;
      left:0%;
      right:0%;
      top:20%;
      bottom:0%;
      margin:auto;
      background-size:contain;
      background-position: center;
      text-align: center;
      color: #ffffff;
      cursor: pointer;
      -webkit-text-stroke: 1px black;
    }
    #magnifya{
      font-size: xx-large;
      position:absolute;
      left:0%;
      right:0%;
      top:20%;
      bottom:0%;
      margin:auto;
      background-size:contain;
      background-position: center;
      text-align: center;
      color: #ffffff;
      cursor: pointer;
      -webkit-text-stroke: 1px black;
    }











