{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="flex">
  <div class="text-white bg-dark" style="width: 250px;">
    <b>Day 02</b>
    <ul class="nav nav-pills flex-column ">
      <li id="frame01"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#Modalframe01"> <i
            class="fa fa-bookmark"></i><span>Frame 01</span> </a> </li>
      <li id="frame02"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#Modalframe02"> <i
            class="fa fa-bookmark"></i><span>Frame 02</span> </a> </li>
      <li id="frame03"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#Modalframe03"> <i
            class="fa fa-bookmark"></i><span>Frame 03</span> </a> </li>
      <li id="frame04"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#Modalframe04"> <i
            class="fa fa-bookmark"></i><span>Frame 04</span> </a> </li>
      <li id="frame05"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#Modalframe05"> <i
            class="fa fa-bookmark"></i><span>Frame 05</span> </a> </li>
      <li id="frame06"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#Modalframe06"> <i
            class="fa fa-bookmark"></i><span>Frame 06</span> </a> </li>
      <li id="frame07"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#Modalframe07"> <i
            class="fa fa-bookmark"></i><span>Frame 07</span> </a> </li>
      <li id="frame08"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#Modalframe08"> <i
            class="fa fa-bookmark"></i><span>Frame 08</span> </a> </li>
      <li id="frame09"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#Modalframe09"> <i
            class="fa fa-bookmark"></i><span>Frame 09</span> </a> </li>
      <li id="frame10"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#Modalframe10"> <i
            class="fa fa-bookmark"></i><span>Frame 10</span> </a> </li>
    </ul>
  </div>
  <div>
    <img class="days" src="{% static 'images/day2.jpg' %}">
    <div class="flex">
      <a href="{% url 'day2.1' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s"
        data-wow-delay="1.1s">Continue... &raquo;</a>
      <a href="{% url 'index' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s"><i
          class="fa fa-home"> Back to Homepage</i></a>&nbsp;&nbsp;&nbsp;
    </div>
  </div>


  <!-- Modal01 -->
  <div class="modal fade" id="Modalframe01" tabindex="-1" role="dialog" aria-labelledby="Modalframe 01"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Modalframe01Label">Frame 01</h5>

        </div>
        <div class="modal-body">
          <video id="d2complete" controls width="100%">
            <source src="{% static 'videos/day02/frame01end.mp4'%}" type="video/mp4">
          </video>
          <video id="d2myVideo" controls width="100%">
            <source src="{% static 'videos/day02/frame01.mp4'%}" type="video/mp4">
          </video>
          <div class="playpause" id="d2playpause" onclick="d2playpau()"></div>
          <a href="{% url 'day2' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
              id="d2task">Task completed</button></a>
        </div>
        <div class="modal-footer">
          <button type="button" onclick="d2myFunction()" class="btn btn-primary first" id="d2next">Next &raquo;</button>
          <div style="display:none;color:rgb(226, 101, 29);margin-left:1px;font-size: 10px;" id="d2content">
            <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 8 സെക്കന്റുകൾക്ക് ശേഷം
              പ്രവർത്തനക്ഷമമാകും.</b>
          </div>
          <p id="d2count"></p>
        </div>
        <div id="d2hint">
          <img id="hintimg" src="{% static 'images/bulb.jpg' %}"><b>അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal02 -->
  <div class="modal fade" id="Modalframe02" tabindex="-1" role="dialog" aria-labelledby="Modalframe 02"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Modalframe02Label">Frame 02</h5>

        </div>
        <div class="modal-body">
          <video id="d2complete2" controls width="100%">
            <source src="{% static 'videos/day02/frame02end.mp4'%}" type="video/mp4">
          </video>
          <video id="d2myVideo2" controls width="100%">
            <source src="{% static 'videos/day02/frame02.mp4'%}" type="video/mp4">
          </video>
          <div class="playpause" id="d2playpause2" onclick="d2playpau2()"></div>
          <a href="{% url 'day2' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
              id="d2task2">Task completed</button></a>
        </div>
        <div class="modal-footer">
          <button type="button" onclick="d2myFunction2()" class="btn btn-primary first" id="d2next2">Next &raquo;</button>
          <div style="display:none;color:rgb(226, 101, 29);margin-left:1px;font-size: 10px;" id="d2content2">
            <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 13 സെക്കന്റുകൾക്ക് ശേഷം
              പ്രവർത്തനക്ഷമമാകും.</b>
          </div>
          <p id="d2count2"></p>
        </div>
        <div id="d2hint2">
          <img id="hintimg" src="{% static 'images/bulb.jpg' %}"><b>അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal03 -->
  <div class="modal fade" id="Modalframe03" tabindex="-1" role="dialog" aria-labelledby="Modalframe 03"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Modalframe03Label">Frame 03</h5>

        </div>
        <div class="modal-body">
          <video id="d2complete3" controls width="100%">
            <source src="{% static 'videos/day02/frame03end.mp4'%}" type="video/mp4">
          </video>
          <video id="d2myVideo3" controls width="100%">
            <source src="{% static 'videos/day02/frame03.mp4'%}" type="video/mp4">
          </video>
          <div class="playpause" id="d2playpause3" onclick="playpau3()"></div>
          <a href="{% url 'day2' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
              id="d2task3">Task completed</button></a>
        </div>
        <div class="modal-footer">
          <button type="button" onclick="myFunction3()" class="btn btn-primary first" id="d2next3">Next &raquo;</button>
          <div style="display:none;color:rgb(226, 101, 29);margin-left:1px;font-size: 10px;" id="d2content3">
            <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 10 സെക്കന്റുകൾക്ക് ശേഷം
              പ്രവർത്തനക്ഷമമാകും.</b>
          </div>
          <p id="d2count3"></p>
        </div>
        <div id="d2hint3">
          <img id="hintimg" src="{% static 'images/bulb.jpg' %}"><b>അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal04 -->
  <div class="modal fade" id="Modalframe04" tabindex="-1" role="dialog" aria-labelledby="Modalframe 04"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Modalframe04Label">Frame 04</h5>

        </div>
        <div class="modal-body">
          <video id="d2complete4" controls width="100%">
            <source src="{% static 'videos/day02/frame04end.mp4'%}" type="video/mp4">
          </video>
          <video id="d2myVideo4" controls width="100%">
            <source src="{% static 'videos/day02/frame04.mp4'%}" type="video/mp4">
          </video>
          <div class="playpause" id="d2playpause4" onclick="d2playpau4()"></div>
          <a href="{% url 'day2' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
              id="d2task4">Task completed</button></a>
        </div>
        <div class="modal-footer">
          <button type="button" onclick="d2myFunction4()" class="btn btn-primary first" id="d2next4">Next &raquo;</button>
          <div style="display:none;color:rgb(226, 101, 29);margin-left:1px;font-size: 10px;" id="d2content4">
            <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 6 സെക്കന്റുകൾക്ക് ശേഷം
              പ്രവർത്തനക്ഷമമാകും.</b>
          </div>
          <p id="d2count4"></p>
        </div>
        <div id="d2hint4">
          <img id="hintimg" src="{% static 'images/bulb.jpg' %}"><b>അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal05 -->
  <div class="modal fade" id="Modalframe05" tabindex="-1" role="dialog" aria-labelledby="Modalframe 05"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Modalframe05Label">Frame 05</h5>

        </div>
        <div class="modal-body">
          <video id="d2complete5" controls width="100%">
            <source src="{% static 'videos/day02/frame05end.mp4'%}" type="video/mp4">
          </video>
          <video id="d2myVideo5" controls width="100%">
            <source src="{% static 'videos/day02/frame05.mp4'%}" type="video/mp4">
          </video>
          <div class="playpause" id="d2playpause5" onclick="d2playpau5()"></div>
          <a href="{% url 'day2' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
              id="d2task5">Task completed</button></a>
        </div>
        <div class="modal-footer">
          <button type="button" onclick="d2myFunction5()" class="btn btn-primary first" id="d2next5">Next &raquo;</button>
          <div style="display:none;color:rgb(226, 101, 29);margin-left:1px;font-size: 10px;" id="d2content5">
            <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 8 സെക്കന്റുകൾക്ക് ശേഷം
              പ്രവർത്തനക്ഷമമാകും.</b>
          </div>
          <p id="d2count5"></p>
        </div>
        <div id="d2hint5">
          <img id="hintimg" src="{% static 'images/bulb.jpg' %}"><b>അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal06 -->
  <div class="modal fade" id="Modalframe06" tabindex="-1" role="dialog" aria-labelledby="Modalframe 06"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Modalframe06Label">Frame 06</h5>

        </div>
        <div class="modal-body">
          <video id="d2complete6" controls width="100%">
            <source src="{% static 'videos/day02/frame06end.mp4'%}" type="video/mp4">
          </video>
          <video id="d2myVideo6" controls width="100%">
            <source src="{% static 'videos/day02/frame06.mp4'%}" type="video/mp4">
          </video>
          <div class="playpause" id="d2playpause6" onclick="d2playpau6()"></div>
          <a href="{% url 'day2' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
              id="d2task6">Task completed</button></a>
        </div>
        <div class="modal-footer">
          <button type="button" onclick="d2myFunction6()" class="btn btn-primary first" id="d2next6">Next &raquo;</button>
          <div style="display:none;color:rgb(226, 101, 29);margin-left:1px;font-size: 10px;" id="d2content6">
            <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 8 സെക്കന്റുകൾക്ക് ശേഷം
              പ്രവർത്തനക്ഷമമാകും.</b>
          </div>
          <p id="d2count6"></p>
        </div>
        <div id="d2hint6">
          <img id="hintimg" src="{% static 'images/bulb.jpg' %}"><b>അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal07 -->
  <div class="modal fade" id="Modalframe07" tabindex="-1" role="dialog" aria-labelledby="Modalframe 07"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Modalframe07Label">Frame 07</h5>

        </div>
        <div class="modal-body">
          <video id="d2complete7" controls width="100%">
            <source src="{% static 'videos/day02/frame07end.mp4'%}" type="video/mp4">
          </video>
          <video id="d2myVideo7" controls width="100%">
            <source src="{% static 'videos/day02/frame07.mp4'%}" type="video/mp4">
          </video>
          <div class="playpause" id="d2playpause7" onclick="d2playpau7()"></div>
          <a href="{% url 'day2' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
              id="d2task7">Task completed</button></a>
        </div>
        <div class="modal-footer">
          <button type="button" onclick="d2myFunction7()" class="btn btn-primary first" id="d2next7">Next &raquo;</button>
          <div style="display:none;color:rgb(226, 101, 29);margin-left:1px;font-size: 10px;" id="d2content7">
            <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 9 സെക്കന്റുകൾക്ക് ശേഷം
              പ്രവർത്തനക്ഷമമാകും.</b>
          </div>
          <p id="d2count7"></p>
        </div>
        <div id="d2hint7">
          <img id="hintimg" src="{% static 'images/bulb.jpg' %}"><b>അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal08 -->
  <div class="modal fade" id="Modalframe08" tabindex="-1" role="dialog" aria-labelledby="Modalframe 08"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Modalframe08Label">Frame 08</h5>

        </div>
        <div class="modal-body">
          <video id="d2complete8" controls width="100%">
            <source src="{% static 'videos/day02/frame08end.mp4'%}" type="video/mp4">
          </video>
          <video id="d2myVideo8" controls width="100%">
            <source src="{% static 'videos/day02/frame08.mp4'%}" type="video/mp4">
          </video>
          <div class="playpause" id="d2playpause8" onclick="d2playpau8()"></div>
          <a href="{% url 'day2' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
              id="d2task8">Task completed</button></a>
        </div>
        <div class="modal-footer">
          <button type="button" onclick="myFunction8()" class="btn btn-primary first" id="d2next8">Next &raquo;</button>
          <div style="display:none;color:rgb(226, 101, 29);margin-left:1px;font-size: 10px;" id="d2content8">
            <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 8 സെക്കന്റുകൾക്ക് ശേഷം
              പ്രവർത്തനക്ഷമമാകും.</b>
          </div>
          <p id="d2count8"></p>
        </div>
        <div id="d2hint8">
          <img id="hintimg" src="{% static 'images/bulb.jpg' %}"><b>അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal09 -->
  <div class="modal fade" id="Modalframe09" tabindex="-1" role="dialog" aria-labelledby="Modalframe 09"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Modalframe09Label">Frame 09</h5>

        </div>
        <div class="modal-body">
          <video id="d2complete9" controls width="100%">
            <source src="{% static 'videos/day02/frame09end.mp4'%}" type="video/mp4">
          </video>
          <video id="d2myVideo9" controls width="100%">
            <source src="{% static 'videos/day02/frame09.mp4'%}" type="video/mp4">
          </video>
          <div class="playpause" id="d2playpause9" onclick="d2playpau9()"></div>
          <a href="{% url 'day2' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
              id="d2task9">Task completed</button></a>
        </div>
        <div class="modal-footer">
          <button type="button" onclick="d2myFunction9()" class="btn btn-primary first" id="d2next9">Next &raquo;</button>
          <div style="display:none;color:rgb(226, 101, 29);margin-left:1px;font-size: 10px;" id="d2content9">
            <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 9 സെക്കന്റുകൾക്ക് ശേഷം
              പ്രവർത്തനക്ഷമമാകും.</b>
          </div>
          <p id="d2count9"></p>
        </div>
        <div id="d2hint9">
          <img id="hintimg" src="{% static 'images/bulb.jpg' %}"><b>അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal10 -->
  <div class="modal fade" id="Modalframe10" tabindex="-1" role="dialog" aria-labelledby="Modalframe 10"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Modalframe10Label">Frame 10</h5>

        </div>
        <div class="modal-body">
          <video id="d2complete10" controls width="100%">
            <source src="{% static 'videos/day02/frame10end.mp4'%}" type="video/mp4">
          </video>
          <video id="d2myVideo10" controls width="100%">
            <source src="{% static 'videos/day02/frame10.mp4'%}" type="video/mp4">
          </video>
          <div class="playpause" id="d2playpause10" onclick="d2playpau10()"></div>
          <a href="{% url 'day2' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
              id="d2task10">Task completed</button></a>
        </div>
        <div class="modal-footer">
          <button type="button" onclick="d2myFunction10()" class="btn btn-primary first" id="d2next10">Next &raquo;</button>
          <div style="display:none;color:rgb(226, 101, 29);margin-left:1px;font-size: 10px;" id="d2content10">
            <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 8 സെക്കന്റുകൾക്ക് ശേഷം
              പ്രവർത്തനക്ഷമമാകും.</b>
          </div>
          <p id="d2count10"></p>
        </div>
        <div id="d2hint10">
          <img id="hintimg" src="{% static 'images/bulb.jpg' %}"><b>അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}