{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="flex">
  <div class="text-white bg-dark" style="width: 250px;">
    <b>Day 04 continues...</b>
    <ul class="nav nav-pills flex-column ">
      <li id="d4frame11"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#d4Modalframe11"> <i
            class="fa fa-bookmark"></i><span>Frame 11</span> </a> </li>
      <li id="d4frame12"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#d4Modalframe12"> <i
            class="fa fa-bookmark"></i><span>Frame 12</span> </a> </li>
      <li id="d4frame13"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#d4Modalframe13"> <i
            class="fa fa-bookmark"></i><span>Frame 13</span> </a> </li>
      <li id="d4frame14"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#d4Modalframe14"> <i
            class="fa fa-bookmark"></i><span>Frame 14</span> </a> </li>
      <li id="d4frame15"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#d4Modalframe15"> <i
            class="fa fa-bookmark"></i><span>Frame 15</span> </a> </li>
      <li id="d4frame16"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#d4Modalframe16"> <i
            class="fa fa-bookmark"></i><span>Frame 16</span> </a> </li>
      <li id="d4frame17"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#d4Modalframe17"> <i
            class="fa fa-bookmark"></i><span>Frame 17</span> </a> </li>
      <li id="d4frame18"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#d4Modalframe18"> <i
            class="fa fa-bookmark"></i><span>Frame 18</span> </a> </li>
    </ul>
  </div>
  <div>
    <img class="days_1" src="{% static 'images/day4.1.jpg' %}">
    <div class="flex">
      <a href="{% url 'day4' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">&laquo;
        Back to Previouspage</a>&nbsp;&nbsp;&nbsp;
      <a href="{% url 'index' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s"
        id="frame1">Day 04 completed</a>
    </div>
  </div>

<!-- Modal11 -->
<div class="modal fade" id="d4Modalframe11" tabindex="-1" role="dialog" aria-labelledby="d4Modalframe 11"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="d4Modalframe11Label">Frame 11</h5>
    </div>
    <div class="modal-body">
      <video id="d4complete11" controls width="100%">
        <source src="{% static 'videos/day04/frame11end.mp4'%}" type="video/mp4">
      </video>
      <video id="d4myVideo11" controls width="100%">
        <source src="{% static 'videos/day04/frame11.mp4'%}" type="video/mp4">
      </video>
      <div class="playpause" id="d4playpause11" onclick="d4playpau11()"></div>
      <a href="{% url 'day3' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
          id="d4task11">Task completed</button></a>
    </div>
    <div class="modal-footer">
      <button type="button" onclick="d4myFunction11()" class="btn btn-primary first" id="d4next11">Next
        &raquo;</button>
      <div style="display:none;color:rgb(227, 110, 29);margin-left:1px;font-size: 10px;" id="d4content11">
        <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 11 സെക്കന്റുകൾക്ക് ശേഷം
          പ്രവർത്തനക്ഷമമാകും.</b>
      </div>
      <p id="d4count11"></p>
      <a href="#"><img id="d4doubtimg11" data-toggle="modal" data-target="#d4doubtModalframe"
          src="{% static 'images/doubtimg5.png' %}"></a>
    </div>
    <div id="d4hint11">
      <img id="d4hintimg11" src="{% static 'images/bulb.jpg' %}">
      <b id="d4first11">1.അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b><img id="d4tickimga11"
      src="{% static 'images/tickimg.png' %}">
      <b id="d4second11">2.അഞ്ച് പ്രാവശ്യം വായിക്കുക.</b><img id="d4tickimgb11"
      src="{% static 'images/tickimg.png' %}">
      <b id="d4third11">3.കേൾക്കുന്നതിനൊപ്പം വായിക്കുക.</b><img id="d4tickimgc11"
      src="{% static 'images/tickimg.png' %}">
    </div>
  </div>
</div>
</div>
</div>

<!-- Modal12 -->
<div class="modal fade" id="d4Modalframe12" tabindex="-1" role="dialog" aria-labelledby="d4Modalframe 12"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="d4Modalframe12Label">Frame 12</h5>
    </div>
    <div class="modal-body">
      <video id="d4complete12" controls width="100%">
        <source src="{% static 'videos/day04/frame12end.mp4'%}" type="video/mp4">
      </video>
      <video id="d4myVideo12" controls width="100%">
        <source src="{% static 'videos/day04/frame12.mp4'%}" type="video/mp4">
      </video>
      <div class="playpause" id="d4playpause12" onclick="d4playpau12()"></div>
      <a href="{% url 'day3' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
          id="d4task12">Task completed</button></a>
    </div>
    <div class="modal-footer">
      <button type="button" onclick="d4myFunction12()" class="btn btn-primary first" id="d4next12">Next
        &raquo;</button>
      <div style="display:none;color:rgb(227, 101, 29);margin-left:1px;font-size: 10px;" id="d4content12">
        <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 14 സെക്കന്റുകൾക്ക് ശേഷം
          പ്രവർത്തനക്ഷമമാകും.</b>
      </div>
      <p id="d4count12"></p>
      <a href="#"><img id="d4doubtimg12" data-toggle="modal" data-target="#d4doubtModalframe"
          src="{% static 'images/doubtimg5.png' %}"></a>
    </div>
    <div id="d4hint12">
      <img id="d4hintimg12" src="{% static 'images/bulb.jpg' %}">
      <b id="d4first12">1.അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b><img id="d4tickimga12"
      src="{% static 'images/tickimg.png' %}">
      <b id="d4second12">2.അഞ്ച് പ്രാവശ്യം വായിക്കുക.</b><img id="d4tickimgb12"
      src="{% static 'images/tickimg.png' %}">
      <b id="d4third12">3.കേൾക്കുന്നതിനൊപ്പം വായിക്കുക.</b><img id="d4tickimgc12"
      src="{% static 'images/tickimg.png' %}">
    </div>
  </div>
</div>
</div>
</div>

<!-- Modal13 -->
<div class="modal fade" id="d4Modalframe13" tabindex="-1" role="dialog" aria-labelledby="d4Modalframe 13"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="d4Modalframe13Label">Frame 13</h5>
    </div>
    <div class="modal-body">
      <video id="d4complete13" controls width="100%">
        <source src="{% static 'videos/day04/frame13end.mp4'%}" type="video/mp4">
      </video>
      <video id="d4myVideo13" controls width="100%">
        <source src="{% static 'videos/day04/frame13.mp4'%}" type="video/mp4">
      </video>
      <div class="playpause" id="d4playpause13" onclick="d4playpau13()"></div>
      <a href="{% url 'day3' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
          id="d4task13">Task completed</button></a>
    </div>
    <div class="modal-footer">
      <button type="button" onclick="d4myFunction13()" class="btn btn-primary first" id="d4next13">Next
        &raquo;</button>
      <div style="display:none;color:rgb(227, 130, 29);margin-left:1px;font-size: 10px;" id="d4content13">
        <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 13 സെക്കന്റുകൾക്ക് ശേഷം
          പ്രവർത്തനക്ഷമമാകും.</b>
      </div>
      <p id="d4count13"></p>
      <a href="#"><img id="d4doubtimg13" data-toggle="modal" data-target="#d4doubtModalframe"
          src="{% static 'images/doubtimg5.png' %}"></a>
    </div>
    <div id="d4hint13">
      <img id="d4hintimg13" src="{% static 'images/bulb.jpg' %}">
      <b id="d4first13">1.അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b><img id="d4tickimga13"
      src="{% static 'images/tickimg.png' %}">
      <b id="d4second13">2.അഞ്ച് പ്രാവശ്യം വായിക്കുക.</b><img id="d4tickimgb13"
      src="{% static 'images/tickimg.png' %}">
      <b id="d4third13">3.കേൾക്കുന്നതിനൊപ്പം വായിക്കുക.</b><img id="d4tickimgc13"
      src="{% static 'images/tickimg.png' %}">
    </div>
  </div>
</div>
</div>
</div>


<!-- Modal14 -->
<div class="modal fade" id="d4Modalframe14" tabindex="-1" role="dialog" aria-labelledby="d4Modalframe 14"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="d4Modalframe14Label">Frame 14</h5>
    </div>
    <div class="modal-body">
      <video id="d4complete14" controls width="100%">
        <source src="{% static 'videos/day04/frame14end.mp4'%}" type="video/mp4">
      </video>
      <video id="d4myVideo14" controls width="100%">
        <source src="{% static 'videos/day04/frame14.mp4'%}" type="video/mp4">
      </video>
      <div class="playpause" id="d4playpause14" onclick="d4playpau14()"></div>
      <a href="{% url 'day3' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
          id="d4task14">Task completed</button></a>
    </div>
    <div class="modal-footer">
      <button type="button" onclick="d4myFunction14()" class="btn btn-primary first" id="d4next14">Next
        &raquo;</button>
      <div style="display:none;color:rgb(227, 140, 29);margin-left:1px;font-size: 10px;" id="d4content14">
        <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 14 സെക്കന്റുകൾക്ക് ശേഷം
          പ്രവർത്തനക്ഷമമാകും.</b>
      </div>
      <p id="d4count14"></p>
      <a href="#"><img id="d4doubtimg14" data-toggle="modal" data-target="#d4doubtModalframe"
          src="{% static 'images/doubtimg5.png' %}"></a>
    </div>
    <div id="d4hint14">
      <img id="d4hintimg14" src="{% static 'images/bulb.jpg' %}">
      <b id="d4first14">1.അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b><img id="d4tickimga14"
      src="{% static 'images/tickimg.png' %}">
      <b id="d4second14">2.അഞ്ച് പ്രാവശ്യം വായിക്കുക.</b><img id="d4tickimgb14"
      src="{% static 'images/tickimg.png' %}">
      <b id="d4third14">3.കേൾക്കുന്നതിനൊപ്പം വായിക്കുക.</b><img id="d4tickimgc14"
      src="{% static 'images/tickimg.png' %}">
    </div>
  </div>
</div>
</div>
</div>

<!-- Modal15 -->
<div class="modal fade" id="d4Modalframe15" tabindex="-1" role="dialog" aria-labelledby="d4Modalframe 15"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="d4Modalframe15Label">Frame 15</h5>
    </div>
    <div class="modal-body">
      <video id="d4complete15" controls width="100%">
        <source src="{% static 'videos/day04/frame15end.mp4'%}" type="video/mp4">
      </video>
      <video id="d4myVideo15" controls width="100%">
        <source src="{% static 'videos/day04/frame15.mp4'%}" type="video/mp4">
      </video>
      <div class="playpause" id="d4playpause15" onclick="d4playpau15()"></div>
      <a href="{% url 'day3' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
          id="d4task15">Task completed</button></a>
    </div>
    <div class="modal-footer">
      <button type="button" onclick="d4myFunction15()" class="btn btn-primary first" id="d4next15">Next
        &raquo;</button>
      <div style="display:none;color:rgb(227, 150, 29);margin-left:1px;font-size: 10px;" id="d4content15">
        <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 15 സെക്കന്റുകൾക്ക് ശേഷം
          പ്രവർത്തനക്ഷമമാകും.</b>
      </div>
      <p id="d4count15"></p>
      <a href="#"><img id="d4doubtimg15" data-toggle="modal" data-target="#d4doubtModalframe"
          src="{% static 'images/doubtimg5.png' %}"></a>
    </div>
    <div id="d4hint15">
      <img id="d4hintimg15" src="{% static 'images/bulb.jpg' %}">
      <b id="d4first15">1.അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b><img id="d4tickimga15"
      src="{% static 'images/tickimg.png' %}">
      <b id="d4second15">2.അഞ്ച് പ്രാവശ്യം വായിക്കുക.</b><img id="d4tickimgb15"
      src="{% static 'images/tickimg.png' %}">
      <b id="d4third15">3.കേൾക്കുന്നതിനൊപ്പം വായിക്കുക.</b><img id="d4tickimgc15"
      src="{% static 'images/tickimg.png' %}">
    </div>
  </div>
</div>
</div>
</div>

<!-- Modal16 -->
<div class="modal fade" id="d4Modalframe16" tabindex="-1" role="dialog" aria-labelledby="d4Modalframe 16"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="d4Modalframe16Label">Frame 16</h5>
    </div>
    <div class="modal-body">
      <video id="d4complete16" controls width="100%">
        <source src="{% static 'videos/day04/frame16end.mp4'%}" type="video/mp4">
      </video>
      <video id="d4myVideo16" controls width="100%">
        <source src="{% static 'videos/day04/frame16.mp4'%}" type="video/mp4">
      </video>
      <div class="playpause" id="d4playpause16" onclick="d4playpau16()"></div>
      <a href="{% url 'day3' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
          id="d4task16">Task completed</button></a>
    </div>
    <div class="modal-footer">
      <button type="button" onclick="d4myFunction16()" class="btn btn-primary first" id="d4next16">Next
        &raquo;</button>
      <div style="display:none;color:rgb(227, 160, 29);margin-left:1px;font-size: 10px;" id="d4content16">
        <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 16 സെക്കന്റുകൾക്ക് ശേഷം
          പ്രവർത്തനക്ഷമമാകും.</b>
      </div>
      <p id="d4count16"></p>
      <a href="#"><img id="d4doubtimg16" data-toggle="modal" data-target="#d4doubtModalframe"
          src="{% static 'images/doubtimg5.png' %}"></a>
    </div>
    <div id="d4hint16">
      <img id="d4hintimg16" src="{% static 'images/bulb.jpg' %}">
      <b id="d4first16">1.അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b><img id="d4tickimga16"
      src="{% static 'images/tickimg.png' %}">
      <b id="d4second16">2.അഞ്ച് പ്രാവശ്യം വായിക്കുക.</b><img id="d4tickimgb16"
      src="{% static 'images/tickimg.png' %}">
      <b id="d4third16">3.കേൾക്കുന്നതിനൊപ്പം വായിക്കുക.</b><img id="d4tickimgc16"
      src="{% static 'images/tickimg.png' %}">
    </div>
  </div>
</div>
</div>
</div>

<!-- d4Doubt Modal -->
<div class="modal fade" id="d4doubtModalframe" tabindex="-1" role="dialog" aria-labelledby="d4doubtModalframe"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="d2doubtModalframeLabel">Do You Have Any Doubt?</h5>
      </div>
      <div class="modal-body">
        <form action="" method="POST" enctype="multipart/form-data" id="form_id"></form>
        <div class="form-group">
          <h5><label for="inputMessage">Message:</label></h5>
          <textarea class="form-control" placeholder="Write your message" rows="8" cols="30" required></textarea>
        </div>
        <button type="submit" name="submit" class="btn btn-primary btn-block">Send Message</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}