{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="flex">
  <div class="text-white bg-dark" style="width: 250px;">
    <b>Day 06 continues...</b>
    <ul class="nav nav-pills flex-column ">
      <li id="d6frame11"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#d6Modalframe11"> <i
            class="fa fa-bookmark"></i><span>Frame 11</span> </a> </li>
      <li id="d6frame12"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#d6Modalframe12"> <i
            class="fa fa-bookmark"></i><span>Frame 12</span> </a> </li>
      <li id="d6frame13"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#d6Modalframe13"> <i
            class="fa fa-bookmark"></i><span>Frame 13</span> </a> </li>
      <li id="d6frame14"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#d6Modalframe14"> <i
            class="fa fa-bookmark"></i><span>Frame 14</span> </a> </li>
      <li id="d6frame15"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#d6Modalframe15"> <i
            class="fa fa-bookmark"></i><span>Frame 15</span> </a> </li>
      <li id="d6frame16"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#d6Modalframe16"> <i
            class="fa fa-bookmark"></i><span>Frame 16</span> </a> </li>
      <li id="d6frame17"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#d6Modalframe17"> <i
            class="fa fa-bookmark"></i><span>Frame 17</span> </a> </li>
      <li id="d6frame18"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#d6Modalframe18"> <i
            class="fa fa-bookmark"></i><span>Frame 18</span> </a> </li>
      <li id="d6frame19"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#d6Modalframe19"> <i
            class="fa fa-bookmark"></i><span>Frame 19</span> </a> </li>
      <li id="d6frame20"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#d6Modalframe20"> <i
            class="fa fa-bookmark"></i><span>Frame 20</span> </a> </li>
    </ul>
  </div>
  <div>
    <img class="days_1" src="{% static 'images/day4.1.jpg' %}">
    <div class="flex">
      <a href="{% url 'day3' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">&laquo;
        Back to Previouspage</a>&nbsp;&nbsp;&nbsp;
      <a href="{% url 'index' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s"
        id="frame1">Day 03 completed</a>
    </div>
  </div>
  <!-- Modal11 -->
  <div class="modal fade" id="d6Modalframe11" tabindex="-1" role="dialog" aria-labelledby="d6Modalframe 11"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="d6Modalframe11Label">Frame 11</h5>
        </div>
        <div class="modal-body">
          <video id="d6complete11" controls width="100%">
            <source src="{% static 'videos/day06/frame11end.mp4'%}" type="video/mp4">
          </video>
          <video id="d6myVideo11" controls width="100%">
            <source src="{% static 'videos/day06/frame11.mp4'%}" type="video/mp4">
          </video>
          <div class="playpause" id="d6playpause11" onclick="d6playpau11()"></div>
          <a href="{% url 'day3' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
              id="d6task11">Task completed</button></a>
        </div>
        <div class="modal-footer">
          <button type="button" onclick="d6myFunction11()" class="btn btn-primary first" id="d6next11">Next
            &raquo;</button>
          <div style="display:none;color:rgb(227, 101, 29);margin-left:1px;font-size: 10px;" id="d6content11">
            <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 13 സെക്കന്റുകൾക്ക് ശേഷം
              പ്രവർത്തനക്ഷമമാകും.</b>
          </div>
          <p id="d6count11"></p>
          <a href="#"><img id="d6doubtimg11" data-toggle="modal" data-target="#d6doubtModalframe"
              src="{% static 'images/doubtimg5.png' %}"></a>
        </div>
        <div id="d6hint11">
          <img id="hintimg" src="{% static 'images/bulb.jpg' %}"><b>അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal12 -->
<div class="modal fade" id="d6Modalframe12" tabindex="-1" role="dialog" aria-labelledby="d6Modalframe 12"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="d6Modalframe12Label">Frame 12</h5>
      </div>
      <div class="modal-body">
        <video id="d6complete12" controls width="100%">
          <source src="{% static 'videos/day06/frame12end.mp4'%}" type="video/mp4">
        </video>
        <video id="d6myVideo12" controls width="100%">
          <source src="{% static 'videos/day06/frame12.mp4'%}" type="video/mp4">
        </video>
        <div class="playpause" id="d6playpause12" onclick="d6playpau12()"></div>
        <a href="{% url 'day3' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
            id="d6task12">Task completed</button></a>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="d6myFunction12()" class="btn btn-primary first" id="d6next12">Next
          &raquo;</button>
        <div style="display:none;color:rgb(227, 101, 29);margin-left:1px;font-size: 10px;" id="d6content12">
          <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 14 സെക്കന്റുകൾക്ക് ശേഷം
            പ്രവർത്തനക്ഷമമാകും.</b>
        </div>
        <p id="d6count12"></p>
        <a href="#"><img id="d6doubtimg12" data-toggle="modal" data-target="#d6doubtModalframe"
            src="{% static 'images/doubtimg5.png' %}"></a>
      </div>
      <div id="d6hint12">
        <img id="hintimg" src="{% static 'images/bulb.jpg' %}"><b>അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Modal13 -->
<div class="modal fade" id="d6Modalframe13" tabindex="-1" role="dialog" aria-labelledby="d6Modalframe 13"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="d6Modalframe13Label">Frame 13</h5>
      </div>
      <div class="modal-body">
        <video id="d6complete13" controls width="100%">
          <source src="{% static 'videos/day06/frame13end.mp4'%}" type="video/mp4">
        </video>
        <video id="d6myVideo13" controls width="100%">
          <source src="{% static 'videos/day06/frame13.mp4'%}" type="video/mp4">
        </video>
        <div class="playpause" id="d6playpause13" onclick="d6playpau13()"></div>
        <a href="{% url 'day3' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
            id="d6task13">Task completed</button></a>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="d6myFunction13()" class="btn btn-primary first" id="d6next13">Next
          &raquo;</button>
        <div style="display:none;color:rgb(227, 101, 29);margin-left:1px;font-size: 10px;" id="d6content13">
          <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 13 സെക്കന്റുകൾക്ക് ശേഷം
            പ്രവർത്തനക്ഷമമാകും.</b>
        </div>
        <p id="d6count13"></p>
        <a href="#"><img id="d6doubtimg13" data-toggle="modal" data-target="#d6doubtModalframe"
            src="{% static 'images/doubtimg5.png' %}"></a>
      </div>
      <div id="d6hint13">
        <img id="hintimg" src="{% static 'images/bulb.jpg' %}"><b>അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Modal14 -->
<div class="modal fade" id="d6Modalframe14" tabindex="-1" role="dialog" aria-labelledby="d6Modalframe 14"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="d6Modalframe14Label">Frame 14</h5>
      </div>
      <div class="modal-body">
        <video id="d6complete14" controls width="100%">
          <source src="{% static 'videos/day06/frame14end.mp4'%}" type="video/mp4">
        </video>
        <video id="d6myVideo14" controls width="100%">
          <source src="{% static 'videos/day06/frame14.mp4'%}" type="video/mp4">
        </video>
        <div class="playpause" id="d6playpause14" onclick="d6playpau14()"></div>
        <a href="{% url 'day3' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
            id="d6task14">Task completed</button></a>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="d6myFunction14()" class="btn btn-primary first" id="d6next14">Next
          &raquo;</button>
        <div style="display:none;color:rgb(227, 101, 29);margin-left:1px;font-size: 10px;" id="d6content14">
          <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 11 സെക്കന്റുകൾക്ക് ശേഷം
            പ്രവർത്തനക്ഷമമാകും.</b>
        </div>
        <p id="d6count14"></p>
        <a href="#"><img id="d6doubtimg14" data-toggle="modal" data-target="#d6doubtModalframe"
            src="{% static 'images/doubtimg5.png' %}"></a>
      </div>
      <div id="d6hint14">
        <img id="hintimg" src="{% static 'images/bulb.jpg' %}"><b>അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Modal15 -->
<div class="modal fade" id="d6Modalframe15" tabindex="-1" role="dialog" aria-labelledby="d6Modalframe 15"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="d6Modalframe15Label">Frame 15</h5>
      </div>
      <div class="modal-body">
        <video id="d6complete15" controls width="100%">
          <source src="{% static 'videos/day06/frame15end.mp4'%}" type="video/mp4">
        </video>
        <video id="d6myVideo15" controls width="100%">
          <source src="{% static 'videos/day06/frame15.mp4'%}" type="video/mp4">
        </video>
        <div class="playpause" id="d6playpause15" onclick="d6playpau15()"></div>
        <a href="{% url 'day3' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
            id="d6task15">Task completed</button></a>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="d6myFunction15()" class="btn btn-primary first" id="d6next15">Next
          &raquo;</button>
        <div style="display:none;color:rgb(227, 101, 29);margin-left:1px;font-size: 10px;" id="d6content15">
          <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 11 സെക്കന്റുകൾക്ക് ശേഷം
            പ്രവർത്തനക്ഷമമാകും.</b>
        </div>
        <p id="d6count15"></p>
        <a href="#"><img id="d6doubtimg15" data-toggle="modal" data-target="#d6doubtModalframe"
            src="{% static 'images/doubtimg5.png' %}"></a>
      </div>
      <div id="d6hint15">
        <img id="hintimg" src="{% static 'images/bulb.jpg' %}"><b>അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Modal16 -->
<div class="modal fade" id="d6Modalframe16" tabindex="-1" role="dialog" aria-labelledby="d6Modalframe 16"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="d6Modalframe16Label">Frame 16</h5>
      </div>
      <div class="modal-body">
        <video id="d6complete16" controls width="100%">
          <source src="{% static 'videos/day06/frame16end.mp4'%}" type="video/mp4">
        </video>
        <video id="d6myVideo16" controls width="100%">
          <source src="{% static 'videos/day06/frame16.mp4'%}" type="video/mp4">
        </video>
        <div class="playpause" id="d6playpause16" onclick="d6playpau16()"></div>
        <a href="{% url 'day3' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
            id="d6task16">Task completed</button></a>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="d6myFunction16()" class="btn btn-primary first" id="d6next16">Next
          &raquo;</button>
        <div style="display:none;color:rgb(227, 101, 29);margin-left:1px;font-size: 10px;" id="d6content16">
          <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 11 സെക്കന്റുകൾക്ക് ശേഷം
            പ്രവർത്തനക്ഷമമാകും.</b>
        </div>
        <p id="d6count16"></p>
        <a href="#"><img id="d6doubtimg16" data-toggle="modal" data-target="#d6doubtModalframe"
            src="{% static 'images/doubtimg5.png' %}"></a>
      </div>
      <div id="d6hint16">
        <img id="hintimg" src="{% static 'images/bulb.jpg' %}"><b>അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Modal17 -->
<div class="modal fade" id="d6Modalframe17" tabindex="-1" role="dialog" aria-labelledby="d6Modalframe 17"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="d6Modalframe17Label">Frame 17</h5>
      </div>
      <div class="modal-body">
        <video id="d6complete17" controls width="100%">
          <source src="{% static 'videos/day06/frame17end.mp4'%}" type="video/mp4">
        </video>
        <video id="d6myVideo17" controls width="100%">
          <source src="{% static 'videos/day06/frame17.mp4'%}" type="video/mp4">
        </video>
        <div class="playpause" id="d6playpause17" onclick="d6playpau17()"></div>
        <a href="{% url 'day3' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
            id="d6task17">Task completed</button></a>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="d6myFunction17()" class="btn btn-primary first" id="d6next17">Next
          &raquo;</button>
        <div style="display:none;color:rgb(227, 101, 29);margin-left:1px;font-size: 10px;" id="d6content17">
          <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 11 സെക്കന്റുകൾക്ക് ശേഷം
            പ്രവർത്തനക്ഷമമാകും.</b>
        </div>
        <p id="d6count17"></p>
        <a href="#"><img id="d6doubtimg17" data-toggle="modal" data-target="#d6doubtModalframe"
            src="{% static 'images/doubtimg5.png' %}"></a>
      </div>
      <div id="d6hint17">
        <img id="hintimg" src="{% static 'images/bulb.jpg' %}"><b>അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Modal18 -->
<div class="modal fade" id="d6Modalframe18" tabindex="-1" role="dialog" aria-labelledby="d6Modalframe 18"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="d6Modalframe18Label">Frame 18</h5>
      </div>
      <div class="modal-body">
        <video id="d6complete18" controls width="100%">
          <source src="{% static 'videos/day06/frame18end.mp4'%}" type="video/mp4">
        </video>
        <video id="d6myVideo18" controls width="100%">
          <source src="{% static 'videos/day06/frame18.mp4'%}" type="video/mp4">
        </video>
        <div class="playpause" id="d6playpause18" onclick="d6playpau18()"></div>
        <a href="{% url 'day3' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
            id="d6task18">Task completed</button></a>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="d6myFunction18()" class="btn btn-primary first" id="d6next18">Next
          &raquo;</button>
        <div style="display:none;color:rgb(227, 101, 29);margin-left:1px;font-size: 10px;" id="d6content18">
          <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 11 സെക്കന്റുകൾക്ക് ശേഷം
            പ്രവർത്തനക്ഷമമാകും.</b>
        </div>
        <p id="d6count18"></p>
        <a href="#"><img id="d6doubtimg18" data-toggle="modal" data-target="#d6doubtModalframe"
            src="{% static 'images/doubtimg5.png' %}"></a>
      </div>
      <div id="d6hint18">
        <img id="hintimg" src="{% static 'images/bulb.jpg' %}"><b>അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Modal19 -->
<div class="modal fade" id="d6Modalframe19" tabindex="-1" role="dialog" aria-labelledby="d6Modalframe 19"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="d6Modalframe19Label">Frame 19</h5>
      </div>
      <div class="modal-body">
        <video id="d6complete19" controls width="100%">
          <source src="{% static 'videos/day06/frame19end.mp4'%}" type="video/mp4">
        </video>
        <video id="d6myVideo19" controls width="100%">
          <source src="{% static 'videos/day06/frame19.mp4'%}" type="video/mp4">
        </video>
        <div class="playpause" id="d6playpause19" onclick="d6playpau19()"></div>
        <a href="{% url 'day3' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
            id="d6task19">Task completed</button></a>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="d6myFunction19()" class="btn btn-primary first" id="d6next19">Next
          &raquo;</button>
        <div style="display:none;color:rgb(227, 101, 29);margin-left:1px;font-size: 10px;" id="d6content19">
          <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 11 സെക്കന്റുകൾക്ക് ശേഷം
            പ്രവർത്തനക്ഷമമാകും.</b>
        </div>
        <p id="d6count19"></p>
        <a href="#"><img id="d6doubtimg19" data-toggle="modal" data-target="#d6doubtModalframe"
            src="{% static 'images/doubtimg5.png' %}"></a>
      </div>
      <div id="d6hint19">
        <img id="hintimg" src="{% static 'images/bulb.jpg' %}"><b>അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Modal20 -->
<div class="modal fade" id="d6Modalframe20" tabindex="-1" role="dialog" aria-labelledby="d6Modalframe 20"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="d6Modalframe20Label">Frame 20</h5>
      </div>
      <div class="modal-body">
        <video id="d6complete20" controls width="100%">
          <source src="{% static 'videos/day06/frame20end.mp4'%}" type="video/mp4">
        </video>
        <video id="d6myVideo20" controls width="100%">
          <source src="{% static 'videos/day06/frame20.mp4'%}" type="video/mp4">
        </video>
        <div class="playpause" id="d6playpause20" onclick="d6playpau20()"></div>
        <a href="{% url 'day3' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
            id="d6task20">Task completed</button></a>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="d6myFunction20()" class="btn btn-primary first" id="d6next20">Next
          &raquo;</button>
        <div style="display:none;color:rgb(227, 101, 29);margin-left:1px;font-size: 10px;" id="d6content20">
          <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 11 സെക്കന്റുകൾക്ക് ശേഷം
            പ്രവർത്തനക്ഷമമാകും.</b>
        </div>
        <p id="d6count20"></p>
        <a href="#"><img id="d6doubtimg20" data-toggle="modal" data-target="#d6doubtModalframe"
            src="{% static 'images/doubtimg5.png' %}"></a>
      </div>
      <div id="d6hint20">
        <img id="hintimg" src="{% static 'images/bulb.jpg' %}"><b>അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b>
      </div>
    </div>
  </div>
</div>
</div>

<!-- d6Doubt Modal -->
<div class="modal fade" id="d6doubtModalframe" tabindex="-1" role="dialog" aria-labelledby="d6doubtModalframe"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="d2doubtModalframeLabel">Do You Have Any Doubt?</h5>
      </div>
      <div class="modal-body">
        <form action="" method="POST" enctype="multipart/form-data" id="form_id"></form>
        <div class="form-group">
          <h5><label for="inputMessage">Message:</label></h5>
          <textarea class="form-control" placeholder="Write your message" rows="8" cols="30" required></textarea>
        </div>
        <button type="submit" name="submit" class="btn btn-primary btn-block">Send Message</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}