{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="flex">
  <div class="text-white bg-dark" style="width: 250px;">
    <b>Day 09 continues...</b>
    <ul class="nav nav-pills flex-column ">
      <li id="d9frame11"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#d9Modalframe11"> <i
            class="fa fa-bookmark"></i><span>Frame 11</span> </a> </li>
      <li id="d9frame12"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#d9Modalframe12"> <i
            class="fa fa-bookmark"></i><span>Frame 12</span> </a> </li>
      <li id="d9frame13"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#d9Modalframe13"> <i
            class="fa fa-bookmark"></i><span>Frame 13</span> </a> </li>
      <li id="d9frame14"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#d9Modalframe14"> <i
            class="fa fa-bookmark"></i><span>Frame 14</span> </a> </li>
      <li id="d9frame15"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#d9Modalframe15"> <i
            class="fa fa-bookmark"></i><span>Frame 15</span> </a> </li>
      <li id="d9frame16"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#d9Modalframe16"> <i
            class="fa fa-bookmark"></i><span>Frame 16</span> </a> </li>
      <li id="d9frame17"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#d9Modalframe17"> <i
            class="fa fa-bookmark"></i><span>Frame 17</span> </a> </li>
      <li id="d9frame18"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#d9Modalframe18"> <i
            class="fa fa-bookmark"></i><span>Frame 18</span> </a> </li>
      <li id="d9frame19"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#d9Modalframe19"> <i
            class="fa fa-bookmark"></i><span>Frame 19</span> </a> </li>
      <li id="d9frame20"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#d9Modalframe20"> <i
            class="fa fa-bookmark"></i><span>Frame 20</span> </a> </li>
    </ul>
  </div>
  <div>
    <img class="days_1" src="{% static 'images/day4.1.jpg' %}">
    <div class="flex">
      <a href="{% url 'day3' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">&laquo;
        Back to Previouspage</a>&nbsp;&nbsp;&nbsp;
      <a href="{% url 'index' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s"
        id="frame1">Day 03 completed</a>
    </div>
  </div>
  <!-- Modal11 -->
  <div class="modal fade" id="d9Modalframe11" tabindex="-1" role="dialog" aria-labelledby="d9Modalframe 11"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="d9Modalframe11Label">Frame 11</h5>
        </div>
        <div class="modal-body">
          <video id="d9complete11" controls width="100%">
            <source src="{% static 'videos/day09/frame11end.mp4'%}" type="video/mp4">
          </video>
          <video id="d9myVideo11" controls width="100%">
            <source src="{% static 'videos/day09/frame11.mp4'%}" type="video/mp4">
          </video>
          <div class="playpause" id="d9playpause11" onclick="d9playpau11()"></div>
          <a href="{% url 'day3' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
              id="d9task11">Task completed</button></a>
        </div>
        <div class="modal-footer">
          <button type="button" onclick="d9myFunction11()" class="btn btn-primary first" id="d9next11">Next
            &raquo;</button>
          <div style="display:none;color:rgb(227, 101, 29);margin-left:1px;font-size: 10px;" id="d9content11">
            <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 13 സെക്കന്റുകൾക്ക് ശേഷം
              പ്രവർത്തനക്ഷമമാകും.</b>
          </div>
          <p id="d9count11"></p>
          <a href="#"><img id="d9doubtimg11" data-toggle="modal" data-target="#d9doubtModalframe"
              src="{% static 'images/doubtimg5.png' %}"></a>
        </div>
        <div id="d9hint11">
          <img id="hintimg" src="{% static 'images/bulb.jpg' %}"><b>അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal12 -->
<div class="modal fade" id="d9Modalframe12" tabindex="-1" role="dialog" aria-labelledby="d9Modalframe 12"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="d9Modalframe12Label">Frame 12</h5>
      </div>
      <div class="modal-body">
        <video id="d9complete12" controls width="100%">
          <source src="{% static 'videos/day09/frame12end.mp4'%}" type="video/mp4">
        </video>
        <video id="d9myVideo12" controls width="100%">
          <source src="{% static 'videos/day09/frame12.mp4'%}" type="video/mp4">
        </video>
        <div class="playpause" id="d9playpause12" onclick="d9playpau12()"></div>
        <a href="{% url 'day3' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
            id="d9task12">Task completed</button></a>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="d9myFunction12()" class="btn btn-primary first" id="d9next12">Next
          &raquo;</button>
        <div style="display:none;color:rgb(227, 101, 29);margin-left:1px;font-size: 10px;" id="d9content12">
          <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 14 സെക്കന്റുകൾക്ക് ശേഷം
            പ്രവർത്തനക്ഷമമാകും.</b>
        </div>
        <p id="d9count12"></p>
        <a href="#"><img id="d9doubtimg12" data-toggle="modal" data-target="#d9doubtModalframe"
            src="{% static 'images/doubtimg5.png' %}"></a>
      </div>
      <div id="d9hint12">
        <img id="hintimg" src="{% static 'images/bulb.jpg' %}"><b>അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Modal13 -->
<div class="modal fade" id="d9Modalframe13" tabindex="-1" role="dialog" aria-labelledby="d9Modalframe 13"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="d9Modalframe13Label">Frame 13</h5>
      </div>
      <div class="modal-body">
        <video id="d9complete13" controls width="100%">
          <source src="{% static 'videos/day09/frame13end.mp4'%}" type="video/mp4">
        </video>
        <video id="d9myVideo13" controls width="100%">
          <source src="{% static 'videos/day09/frame13.mp4'%}" type="video/mp4">
        </video>
        <div class="playpause" id="d9playpause13" onclick="d9playpau13()"></div>
        <a href="{% url 'day3' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
            id="d9task13">Task completed</button></a>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="d9myFunction13()" class="btn btn-primary first" id="d9next13">Next
          &raquo;</button>
        <div style="display:none;color:rgb(227, 101, 29);margin-left:1px;font-size: 10px;" id="d9content13">
          <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 13 സെക്കന്റുകൾക്ക് ശേഷം
            പ്രവർത്തനക്ഷമമാകും.</b>
        </div>
        <p id="d9count13"></p>
        <a href="#"><img id="d9doubtimg13" data-toggle="modal" data-target="#d9doubtModalframe"
            src="{% static 'images/doubtimg5.png' %}"></a>
      </div>
      <div id="d9hint13">
        <img id="hintimg" src="{% static 'images/bulb.jpg' %}"><b>അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Modal14 -->
<div class="modal fade" id="d9Modalframe14" tabindex="-1" role="dialog" aria-labelledby="d9Modalframe 14"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="d9Modalframe14Label">Frame 14</h5>
      </div>
      <div class="modal-body">
        <video id="d9complete14" controls width="100%">
          <source src="{% static 'videos/day09/frame14end.mp4'%}" type="video/mp4">
        </video>
        <video id="d9myVideo14" controls width="100%">
          <source src="{% static 'videos/day09/frame14.mp4'%}" type="video/mp4">
        </video>
        <div class="playpause" id="d9playpause14" onclick="d9playpau14()"></div>
        <a href="{% url 'day3' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
            id="d9task14">Task completed</button></a>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="d9myFunction14()" class="btn btn-primary first" id="d9next14">Next
          &raquo;</button>
        <div style="display:none;color:rgb(227, 101, 29);margin-left:1px;font-size: 10px;" id="d9content14">
          <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 11 സെക്കന്റുകൾക്ക് ശേഷം
            പ്രവർത്തനക്ഷമമാകും.</b>
        </div>
        <p id="d9count14"></p>
        <a href="#"><img id="d9doubtimg14" data-toggle="modal" data-target="#d9doubtModalframe"
            src="{% static 'images/doubtimg5.png' %}"></a>
      </div>
      <div id="d9hint14">
        <img id="hintimg" src="{% static 'images/bulb.jpg' %}"><b>അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Modal15 -->
<div class="modal fade" id="d9Modalframe15" tabindex="-1" role="dialog" aria-labelledby="d9Modalframe 15"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="d9Modalframe15Label">Frame 15</h5>
      </div>
      <div class="modal-body">
        <video id="d9complete15" controls width="100%">
          <source src="{% static 'videos/day09/frame15end.mp4'%}" type="video/mp4">
        </video>
        <video id="d9myVideo15" controls width="100%">
          <source src="{% static 'videos/day09/frame15.mp4'%}" type="video/mp4">
        </video>
        <div class="playpause" id="d9playpause15" onclick="d9playpau15()"></div>
        <a href="{% url 'day3' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
            id="d9task15">Task completed</button></a>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="d9myFunction15()" class="btn btn-primary first" id="d9next15">Next
          &raquo;</button>
        <div style="display:none;color:rgb(227, 101, 29);margin-left:1px;font-size: 10px;" id="d9content15">
          <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 11 സെക്കന്റുകൾക്ക് ശേഷം
            പ്രവർത്തനക്ഷമമാകും.</b>
        </div>
        <p id="d9count15"></p>
        <a href="#"><img id="d9doubtimg15" data-toggle="modal" data-target="#d9doubtModalframe"
            src="{% static 'images/doubtimg5.png' %}"></a>
      </div>
      <div id="d9hint15">
        <img id="hintimg" src="{% static 'images/bulb.jpg' %}"><b>അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Modal16 -->
<div class="modal fade" id="d9Modalframe16" tabindex="-1" role="dialog" aria-labelledby="d9Modalframe 16"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="d9Modalframe16Label">Frame 16</h5>
      </div>
      <div class="modal-body">
        <video id="d9complete16" controls width="100%">
          <source src="{% static 'videos/day09/frame16end.mp4'%}" type="video/mp4">
        </video>
        <video id="d9myVideo16" controls width="100%">
          <source src="{% static 'videos/day09/frame16.mp4'%}" type="video/mp4">
        </video>
        <div class="playpause" id="d9playpause16" onclick="d9playpau16()"></div>
        <a href="{% url 'day3' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
            id="d9task16">Task completed</button></a>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="d9myFunction16()" class="btn btn-primary first" id="d9next16">Next
          &raquo;</button>
        <div style="display:none;color:rgb(227, 101, 29);margin-left:1px;font-size: 10px;" id="d9content16">
          <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 11 സെക്കന്റുകൾക്ക് ശേഷം
            പ്രവർത്തനക്ഷമമാകും.</b>
        </div>
        <p id="d9count16"></p>
        <a href="#"><img id="d9doubtimg16" data-toggle="modal" data-target="#d9doubtModalframe"
            src="{% static 'images/doubtimg5.png' %}"></a>
      </div>
      <div id="d9hint16">
        <img id="hintimg" src="{% static 'images/bulb.jpg' %}"><b>അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Modal17 -->
<div class="modal fade" id="d9Modalframe17" tabindex="-1" role="dialog" aria-labelledby="d9Modalframe 17"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="d9Modalframe17Label">Frame 17</h5>
      </div>
      <div class="modal-body">
        <video id="d9complete17" controls width="100%">
          <source src="{% static 'videos/day09/frame17end.mp4'%}" type="video/mp4">
        </video>
        <video id="d9myVideo17" controls width="100%">
          <source src="{% static 'videos/day09/frame17.mp4'%}" type="video/mp4">
        </video>
        <div class="playpause" id="d9playpause17" onclick="d9playpau17()"></div>
        <a href="{% url 'day3' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
            id="d9task17">Task completed</button></a>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="d9myFunction17()" class="btn btn-primary first" id="d9next17">Next
          &raquo;</button>
        <div style="display:none;color:rgb(227, 101, 29);margin-left:1px;font-size: 10px;" id="d9content17">
          <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 11 സെക്കന്റുകൾക്ക് ശേഷം
            പ്രവർത്തനക്ഷമമാകും.</b>
        </div>
        <p id="d9count17"></p>
        <a href="#"><img id="d9doubtimg17" data-toggle="modal" data-target="#d9doubtModalframe"
            src="{% static 'images/doubtimg5.png' %}"></a>
      </div>
      <div id="d9hint17">
        <img id="hintimg" src="{% static 'images/bulb.jpg' %}"><b>അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Modal18 -->
<div class="modal fade" id="d9Modalframe18" tabindex="-1" role="dialog" aria-labelledby="d9Modalframe 18"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="d9Modalframe18Label">Frame 18</h5>
      </div>
      <div class="modal-body">
        <video id="d9complete18" controls width="100%">
          <source src="{% static 'videos/day09/frame18end.mp4'%}" type="video/mp4">
        </video>
        <video id="d9myVideo18" controls width="100%">
          <source src="{% static 'videos/day09/frame18.mp4'%}" type="video/mp4">
        </video>
        <div class="playpause" id="d9playpause18" onclick="d9playpau18()"></div>
        <a href="{% url 'day3' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
            id="d9task18">Task completed</button></a>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="d9myFunction18()" class="btn btn-primary first" id="d9next18">Next
          &raquo;</button>
        <div style="display:none;color:rgb(227, 101, 29);margin-left:1px;font-size: 10px;" id="d9content18">
          <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 11 സെക്കന്റുകൾക്ക് ശേഷം
            പ്രവർത്തനക്ഷമമാകും.</b>
        </div>
        <p id="d9count18"></p>
        <a href="#"><img id="d9doubtimg18" data-toggle="modal" data-target="#d9doubtModalframe"
            src="{% static 'images/doubtimg5.png' %}"></a>
      </div>
      <div id="d9hint18">
        <img id="hintimg" src="{% static 'images/bulb.jpg' %}"><b>അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Modal19 -->
<div class="modal fade" id="d9Modalframe19" tabindex="-1" role="dialog" aria-labelledby="d9Modalframe 19"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="d9Modalframe19Label">Frame 19</h5>
      </div>
      <div class="modal-body">
        <video id="d9complete19" controls width="100%">
          <source src="{% static 'videos/day09/frame19end.mp4'%}" type="video/mp4">
        </video>
        <video id="d9myVideo19" controls width="100%">
          <source src="{% static 'videos/day09/frame19.mp4'%}" type="video/mp4">
        </video>
        <div class="playpause" id="d9playpause19" onclick="d9playpau19()"></div>
        <a href="{% url 'day3' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
            id="d9task19">Task completed</button></a>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="d9myFunction19()" class="btn btn-primary first" id="d9next19">Next
          &raquo;</button>
        <div style="display:none;color:rgb(227, 101, 29);margin-left:1px;font-size: 10px;" id="d9content19">
          <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 11 സെക്കന്റുകൾക്ക് ശേഷം
            പ്രവർത്തനക്ഷമമാകും.</b>
        </div>
        <p id="d9count19"></p>
        <a href="#"><img id="d9doubtimg19" data-toggle="modal" data-target="#d9doubtModalframe"
            src="{% static 'images/doubtimg5.png' %}"></a>
      </div>
      <div id="d9hint19">
        <img id="hintimg" src="{% static 'images/bulb.jpg' %}"><b>അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Modal20 -->
<div class="modal fade" id="d9Modalframe20" tabindex="-1" role="dialog" aria-labelledby="d9Modalframe 20"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="d9Modalframe20Label">Frame 20</h5>
      </div>
      <div class="modal-body">
        <video id="d9complete20" controls width="100%">
          <source src="{% static 'videos/day09/frame20end.mp4'%}" type="video/mp4">
        </video>
        <video id="d9myVideo20" controls width="100%">
          <source src="{% static 'videos/day09/frame20.mp4'%}" type="video/mp4">
        </video>
        <div class="playpause" id="d9playpause20" onclick="d9playpau20()"></div>
        <a href="{% url 'day3' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
            id="d9task20">Task completed</button></a>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="d9myFunction20()" class="btn btn-primary first" id="d9next20">Next
          &raquo;</button>
        <div style="display:none;color:rgb(227, 101, 29);margin-left:1px;font-size: 10px;" id="d9content20">
          <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 11 സെക്കന്റുകൾക്ക് ശേഷം
            പ്രവർത്തനക്ഷമമാകും.</b>
        </div>
        <p id="d9count20"></p>
        <a href="#"><img id="d9doubtimg20" data-toggle="modal" data-target="#d9doubtModalframe"
            src="{% static 'images/doubtimg5.png' %}"></a>
      </div>
      <div id="d9hint20">
        <img id="hintimg" src="{% static 'images/bulb.jpg' %}"><b>അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b>
      </div>
    </div>
  </div>
</div>
</div>

<!-- d9Doubt Modal -->
<div class="modal fade" id="d9doubtModalframe" tabindex="-1" role="dialog" aria-labelledby="d9doubtModalframe"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="d2doubtModalframeLabel">Do You Have Any Doubt?</h5>
      </div>
      <div class="modal-body">
        <form action="" method="POST" enctype="multipart/form-data" id="form_id"></form>
        <div class="form-group">
          <h5><label for="inputMessage">Message:</label></h5>
          <textarea class="form-control" placeholder="Write your message" rows="8" cols="30" required></textarea>
        </div>
        <button type="submit" name="submit" class="btn btn-primary btn-block">Send Message</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}