{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="header">
    <div class="flexbox">
        <img src="{% static 'images/jklogo.png' %}">
        <h1>Jaykas Digital</h1>
    </div>
</div>
<br>
<div>
    <h3 class="header-sub-title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s"> Our Sessions</h3>
</div>
<br>
<div class="flex">
    <a href="#" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day 01</a>&nbsp
    <a href="{% url 'day2' %}" id="day2" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        02</a>&nbsp
    <a href="{% url 'day3' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        03</a>&nbsp
    <a href="{% url 'day4' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        04</a>&nbsp
    <a href="{% url 'day5' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        05</a>&nbsp
    <a href="{% url 'day6' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        06</a>&nbsp
    <a href="{% url 'day7' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        07</a>&nbsp
    <a href="{% url 'day8' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        08</a>&nbsp
    <a href="{% url 'day9' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        09</a>&nbsp
    <a href="{% url 'day10' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        10</a>&nbsp
</div>
<br>
<div class="flex">
    <a href="{% url 'day11' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        11</a>&nbsp
    <a href="{% url 'day12' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        12</a>&nbsp
    <a href="{% url 'day13' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        13</a>&nbsp
    <a href="{% url 'day14' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        14</a>&nbsp
    <a href="{% url 'day15' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        15</a>&nbsp
    <a href="{% url 'day16' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        16</a>&nbsp
    <a href="{% url 'day17' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        17</a>&nbsp
    <a href="{% url 'day18' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        18</a>&nbsp
    <a href="{% url 'day19' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        19</a>&nbsp
    <a href="{% url 'day20' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        20</a>&nbsp
</div>
<br>
<div class="flex">
    <a href="{% url 'day21' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        21</a>&nbsp
    <a href="{% url 'day22' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        22</a>&nbsp
    <a href="{% url 'day23' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        23</a>&nbsp
    <a href="{% url 'day24' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        24</a>&nbsp
    <a href="{% url 'day25' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        25</a>&nbsp
    <a href="{% url 'day26' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        26</a>&nbsp
    <a href="{% url 'day27' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        27</a>&nbsp
    <a href="{% url 'day28' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        28</a>&nbsp
    <a href="{% url 'day29' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        29</a>&nbsp
    <a href="{% url 'day30' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        30</a>&nbsp
</div>
<br>
<div class="flex">
    <a href="{% url 'day31' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        31</a>&nbsp
    <a href="{% url 'day32' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        32</a>&nbsp
    <a href="{% url 'day33' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        33</a>&nbsp
    <a href="{% url 'day34' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        34</a>&nbsp
    <a href="{% url 'day35' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        35</a>&nbsp
    <a href="{% url 'day36' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        36</a>&nbsp
    <a href="{% url 'day37' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        37</a>&nbsp
    <a href="{% url 'day38' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        38</a>&nbsp
    <a href="{% url 'day39' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        39</a>&nbsp
    <a href="{% url 'day40' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        40</a>&nbsp
</div>
<br>
<div class="flex">
    <a href="{% url 'day41' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        41</a>&nbsp
    <a href="{% url 'day42' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        42</a>&nbsp
    <a href="{% url 'day43' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        43</a>&nbsp
    <a href="{% url 'day44' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        44</a>&nbsp
    <a href="{% url 'day45' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        45</a>&nbsp
    <a href="{% url 'day46' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        46</a>&nbsp
    <a href="{% url 'day47' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        47</a>&nbsp
    <a href="{% url 'day48' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        48</a>&nbsp
    <a href="{% url 'day49' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        49</a>&nbsp
    <a href="{% url 'day50' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        50</a>&nbsp
</div>
<br>
<div class="flex">
    <a href="{% url 'day51' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        51</a>&nbsp
    <a href="{% url 'day52' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        52</a>&nbsp
    <a href="{% url 'day53' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        53</a>&nbsp
    <a href="{% url 'day54' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        54</a>&nbsp
    <a href="{% url 'day55' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        55</a>&nbsp
    <a href="{% url 'day56' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        56</a>&nbsp
    <a href="{% url 'day57' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        57</a>&nbsp
    <a href="{% url 'day58' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        58</a>&nbsp
    <a href="{% url 'day59' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        59</a>&nbsp
    <a href="{% url 'day60' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Day
        60</a>&nbsp
</div>
{% endblock%}