<!-- Modal04 -->
<div class="modal fade" id="d5Modalframe04" tabindex="-1" role="dialog" aria-labelledby="d5Modalframe 04"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="d5Modalframe04Label">Frame 04</h5>
    </div>
    <div class="modal-body">
      <video id="d5complete04" controls width="100%">
        <source src="{% static 'videos/day05/frame04end.mp4'%}" type="video/mp4">
      </video>
      <video id="d5myVideo04" controls width="100%">
        <source src="{% static 'videos/day05/frame04.mp4'%}" type="video/mp4">
      </video>
      <div class="playpause" id="d5playpause04" onclick="d5playpau04()"></div>
      <a href="{% url 'day4' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
          id="d5task04">Task completed</button></a>
    </div>
    <div class="modal-footer">
      <button type="button" onclick="d5myFunction04()" class="btn btn-primary first" id="d5next04">Next
        &raquo;</button>
      <div style="display:none;color:rgb(227, 102, 29);margin-left:1px;font-size: 10px;" id="d5content04">
        <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 02 സെക്കന്റുകൾക്ക് ശേഷം
          പ്രവർത്തനക്ഷമമാകും.</b>
      </div>
      <p id="d5count04"></p>
      <a href="#"><img id="d5doubtimg4" data-toggle="modal" data-target="#d5doubtModalframe"
          src="{% static 'images/doubtimg5.png' %}"></a>
    </div>
    <div id="d5hint04">
      <img id="d5hintimg04" src="{% static 'images/bulb.jpg' %}">
      <b id="d5first4">1.അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b><img id="d5tickimga4"
      src="{% static 'images/tickimg.png' %}">
      <b id="d5second4">2.അഞ്ച് പ്രാവശ്യം വായിക്കുക.</b><img id="d5tickimgb4"
      src="{% static 'images/tickimg.png' %}">
      <b id="d5third4">4.കേൾക്കുന്നതിനൊപ്പം വായിക്കുക.</b><img id="d5tickimgc4"
      src="{% static 'images/tickimg.png' %}">
    </div>
  </div>
</div>
</div>
</div>