<!-- <html><head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </head>
  <body>
  
  <button class="btn btn-lg video" data-video="https://clienti.dk/media/1140/friheden-video.mp4" data-toggle="modal" data-target="#videoModal">Play Video</button>
  
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <video controls width="100%">
              <source src="static/video/frame01.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(function() {
  $(".video").click(function () {
    var theModal = $(this).data("target"),
        videoSRC = $(this).attr("data-video"),
        videoSRCauto = videoSRC + "";
    $(theModal + ' source').attr('src', videoSRCauto);
    $(theModal + ' video').load();
    $(theModal + ' button.close').click(function () {
      $(theModal + ' source').attr('src', videoSRC);
    });
  });
});
    </script>
  </body>
  </html> -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="flex">
  <div class="text-white bg-dark" style="width: 250px;">
    <b>Day 02</b>
    <ul class="nav nav-pills flex-column ">
      <li id="frame01"> <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#Modalframe01"> <i
            class="fa fa-bookmark"></i><span>Frame 01</span> </a> </li>
    </ul>
  </div>
  <div>
    <img class="day01" src="{% static 'images/day2.jpg' %}">
    <div class="flex">
      <a href="{% url 'index' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s"><i
          class="fa fa-home"> Back to Homepage</i></a>&nbsp;&nbsp;&nbsp;
      <a href="{% url 'day2.1' %}" class="main-btn wow fadeInUp" data-wow-duration="1.3s"
        data-wow-delay="1.1s">Continue... &raquo;</a>
    </div>
  </div>

  <!-- Modal01 -->
  <div class="modal fade" id="Modalframe01" tabindex="-1" role="dialog" aria-labelledby="Modalframe 01"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Modalframe01Label">Frame 01</h5>

        </div>
        <div class="modal-body">
          <video id="complete" controls width="100%">
            <source src="{% static 'videos/frame01.mp4'%}" type="video/mp4">
          </video>
          <video id="myVideo" controls width="100%">
            <source src="{% static 'videos/frame01.mp4'%}" type="video/mp4">
          </video>
          <a href="{% url 'day2' %}"><button type="button" class="btn btn-primary first" data-dismiss="modal"
              id="task">Task completed</button></a>
        </div>
        <div class="modal-footer">
          <button type="button" onclick="myFunction()" class="btn btn-primary first" id="next">Next &raquo;</button>
          <div style="display:none;color:rgb(226, 101, 29);margin-left:1px;font-size: 10px;" id="content">
            <b><img id="alertimg" src="{% static 'images/alertimg.png' %}">ബട്ടൺ 8 സെക്കന്റുകൾക്ക് ശേഷം
              പ്രവർത്തനക്ഷമമാകും.</b>
          </div>
          <p id="count"></p>
        </div>
        <div id="hint">
          <img id="hintimg" src="{% static 'images/bulb.jpg' %}"><b>അഞ്ച് പ്രാവശ്യം കേൾക്കുക.</b>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}